[2014-11-04 17:25] pmasher opened #108 "Revised Media Page"
Please revised Media Page so it looks like this:

![new media mock](https://cloud.githubusercontent.com/assets/9327321/4904399/9a4a4288-6447-11e4-977f-48de0ddea2b2.jpg)

[2015-01-05 18:46] iamisom opened #138 "Incorrect notification timestamps"
The timestamps on notifications are incorrect. http://prntscr.com/5ov228

[2015-01-05 18:56] iamjohnp commented on #138
@iamisom to be clear, is the issue that the time stamps are incorrect or just that they are not in chronological order (obviously the latter is true, just want to see if you're saying the former is also true).

[2015-01-07 16:24] bradpettigrew commented on #108
could I get the PSD of the revised media page mock you posted back on the 16th?

[2015-01-07 16:46] iamjohnp commented on #108
[Here](https://files.zenhub.io/54ad61dba249c87814469d7e) you go @bradpettigrew.

[2015-01-07 19:55] bradpettigrew commented on #108
awesome man thanks!

[2015-01-08 16:45] iamisom opened #139 "Unable to multi-quote from multiple pages"
For threads that have things I'd like to reply to from multiple pages, I am unable to do so. I click the Quote button on a reply, but then I go to another page and that Quote is missing. I can @ the person, but I'd like to include the quote for benefit of the other readers.

[2015-01-08 21:43] bradpettigrew commented on #108
![media page mock merge](https://cloud.githubusercontent.com/assets/9043584/5671383/77653bce-9755-11e4-88f5-ead64ca9ab46.jpg)

[2015-01-10 00:50] iamisom opened #140 "Devtracker doesn't link to the exact dev reply in a thread"
Can we change this, please?

[2015-01-10 01:22] iamisom opened #141 "Request: Admin page of monthly site user information"
I need the following information in order to determine our success with the community on our site. For each of these, I'll need the information of all three DD sites together and the information for each site separately. I would prefer to have this information on a page on a site that's available to our admins.

1)  Monthly Active Posters:  The number of users that have made a post on our site at

[2015-01-10 02:02] iamisom opened #142 "Unable to change player title"
I'm getting a 404 page when I click to save the new title. The user in question is Lanie, and her usergroup is Defense Council 30.

[2015-01-10 02:02] adamlieb commented on #142
What title are you trying to give him/her?

[2015-01-10 02:03] iamisom commented on #142
Community Wiki Founder. I was just about to edit my post to add that. :)

[2015-01-10 02:04] adamlieb commented on #142
I'll check it out, could be too many characters or something

[2015-01-10 02:04] iamisom commented on #142
Thanks!

[2015-01-12 17:27] iamisom commented on #142
Update:  I was successfully able to change Supernothing's user title to Community Wiki Lead Editor. I don't think that has to do with the length of the title but rather the usergroup of the person in question.

[2015-01-12 17:34] AnthonyKinson commented on #142
Custom Titles are limited to 255 characters and you are well within that. Looking into this further now.

[2015-01-12 23:16] adamlieb commented on #142
I really dont know what this issue was. Lanie does have the title you changed it to. Not sure if you've since done this successfully, since first reporting. But I don't see any issue with this. Did this "Just work" at some point? Let me know if you have any issues changing anyone elses title, but right now it APPEARS there is no issue/bug here.

[2015-01-13 03:58] iamisom commented on #142
Strange. I haven't touched it since I reported it.

Very weird.

[2015-01-13 16:19] iamisom commented on #142
Update that's tied to this:  Did we change anything with Lanie's account? She sent me this message today:

"All my posts are hidden, and I have no permissions to even view topics. I had to log out to see stuff."

[2015-01-13 16:27] iamisom commented on #142
This issue also seems to have fixed itself. Closing.

[2015-01-13 16:41] iamisom commented on #142
I just logged in, the top right is asking for me to log in.  On the same screen I can see DC areas.  I can also post, but the edit options are removed.
[11:30:50 AM] Lanie Rubyss: I was calling this the "half logged" bug.
[11:32:06 AM] Lanie Rubyss: Also prevents access to reading personal messages...
[11:33:18 AM] Lanie Rubyss: In this state, I can't log out, and pushing the login button, even lo

[2015-01-13 17:09] adamlieb commented on #142
Can you ask them to clear their cache? Then log in/out or out/in depending on their state. This should fix everything, if not let me know and I can dig in further

[2015-01-13 17:10] iamisom commented on #142
Will do.

[2015-01-13 17:47] iamisom commented on #142
From Lanie:  "Yeah, deleting all cookies for the dungeondefenders domain let me try to login again.  Working normal again for now. But the scripts need to stop breaking the cookies..."

Closing this, but there might be some other issue here.

[2015-01-13 17:47] #142 closed

[2015-01-14 21:53] adamlieb commented on #141
done. Dungeondefenders.com/2/analytics

We are going to add an analytics button on the home page for easier access but here is the link for now.

[2015-01-14 21:53] #141 closed

[2015-01-14 22:31] #138 closed

[2015-01-14 22:42] iamisom opened #143 "Analytics Page Changes"
First of all, thank you very much for the Analytics page! It's almost exactly what I need.

There are two changes to make it perfect for my needs:

1)  A dropdown menu at the top of the page that allows me to select the month and the year for the data (i.e. January 2015).

2)  All data should be tracked on a month-to-month basis (i.e. Jan 1 to Jan 31, 2015; Feb 1 to Feb 28, 2015) and not by "the l

[2015-01-15 00:07] adamlieb commented on #143
Can do all of this except for "active users" by month. There is no way to see "last month how many people were active." Because we allow people to stay logged in, logins/month is a crappy metric as well. Your best bet for visitor data would be Google Analytics. The "active users" stat will continue to be a rolling 30 days, the rest we can do in monthly slices.

We can definitely have them go back

[2015-01-15 00:09] iamisom commented on #143
Yeah, I can probably use uniques from Google Analytics, but that's making an assumption that those uniques are also registered members. Is it possible to take a snapshot on the last day of the month? Even if it's not entirely accurate (some months have fewer than 30 days, so it might capture some data from the previous month), it'd be helpful.

[2015-01-15 00:12] adamlieb commented on #143
Not really an easy thing to do. If that is a stat you care about, best thing to do would just be to login at the end of the month and take that stat down yourself.

[2015-01-15 03:04] iamisom commented on #143
Fair enough!

[2015-01-15 05:08] iamisom opened #144 "Notification bug"
I have "when someone comments on a thread I track" off, and it's been off for at least two months, but I still receive notifications about this.

Settings:  http://prntscr.com/5snlha
Notifications:  http://prntscr.com/5snljp

[2015-01-15 17:26] #108 closed

[2015-01-15 17:39] adamlieb commented on #144
Oh boy are you going to feel like a silly goose.

http://ss.imjp.me/20150115103458.png

Top two words on that screenshot. EMAIL ME! You aren't getting emails for these notifications are you?

There isn't a way to turn off on-site notifications.

Currently this is working as intended (unless you ARE getting emails about these things) please confirm

[2015-01-15 18:21] iamjohnp commented on #144
@iamisom i'll note too that you can untrack threads you start or comment on if you're getting too many notifications. that would allow you some micro-management in case you *did* want replies to *some* threads you track (as opposed to all or none).

[2015-01-15 20:33] iamisom commented on #144
I AM A SILLY GOOSE. I'm not getting the emails. Working as intended. I'll untrack myself from those threads. Carry on!

[2015-01-15 20:33] #144 closed

[2015-01-15 23:27] adamlieb commented on #143
This is all done, just waiting to go live.

[2015-01-16 00:00] iamisom commented on #143
Do we have any blockers on pushing this live?

[2015-01-16 00:01] adamlieb commented on #143
Just waiting on implementing one more thing. Once that is implemented we can push them both live. Just dont want to push a half-complete feature upgrade.

[2015-01-16 00:01] iamisom commented on #143
Sounds good.

[2015-01-16 17:12] iamisom opened #145 "Forum badge scaling issue"
Our forum badges seem to have some sort of scaling issue.

For example, same user, same thread, same badge, different sizes each time he posts.

First post:  http://prntscr.com/5t802c
Second post:  http://prntscr.com/5t807h

For clarification, the size of the badge in the second post is correct.

I've seen this on all of our badges.

Here's the thread:  https://www.dungeondefenders.com/2/topic/116

[2015-01-17 03:48] #145 closed

[2015-01-17 03:48] adamlieb commented on #140
implemented

[2015-01-17 03:48] #140 closed

[2015-01-17 03:48] adamlieb commented on #143
implemented & live

[2015-01-17 03:48] adamlieb commented on #145
implemented & live

[2015-01-17 05:16] iamisom commented on #140
This doesn't seem to be working for me. Is this pushed to live?

[2015-01-17 06:02] iamjohnp commented on #140
This will only affect posts that were created after we pushed. Older posts
will not be affected.

Can you confirm that it's working with newer posts?

On Friday, January 16, 2015, iamisom <notifications@github.com> wrote:

[2015-01-17 06:50] iamisom commented on #140
New post:  http://prntscr.com/5th68l
Where it takes me:  http://prntscr.com/5th6bj (top of the thread)

[2015-01-18 18:34] iamisom commented on #143
Quick question:  Does this also take into account comments made on blogs?

[2015-01-18 20:11] rsyvarth commented on #143
Yes

[2015-01-19 17:14] #143 closed

[2015-01-19 17:59] adamlieb commented on #140
No this wasn't live until a few minutes ago. It was finished friday but not deployed until this morning. This is working correctly now.

[2015-01-19 18:02] iamisom commented on #140
I think there's a new bug with it. When I click I_PASS_BUTTER's newest post, I get sent to the URL https://www.dungeondefenders.com/2/forums?comment_id=1096120&topic_id=116631&slug=see-answer, which is just the forum homepage.

[2015-01-19 18:08] adamlieb commented on #140
Clear your cache I don't think you'll experience this. This just went live so your cache likely hasn't been busted yet. I can confirm in all browsers. I suspect when you clear your cache it'll work perfectly.

[2015-01-19 18:12] iamisom commented on #140
That worked. Thanks!

[2015-01-20 05:17] iamisom opened #146 "Posts with quotes are getting pushed into the reply/like bar"
http://prntscr.com/5up3rs
http://prntscr.com/5up3ts

[2015-01-20 11:00] Xspirits commented on #146
I wasn't able to reproduce on staging, can you please provide the link where this is occurring please @iamisom?

[2015-01-20 11:26] kaiheilos commented on #146
https://www.dungeondefenders.com/2/topic/116644/

[2015-01-22 17:08] iamjohnp commented on #139
This should now be working on production. :+1:

[2015-01-22 17:08] #139 closed

[2015-01-22 17:15] iamjohnp commented on #146
A fix for this has been deployed to production. Let us know if you see any related issues.

[2015-01-22 17:15] #146 closed

[2015-01-28 01:14] iamisom opened #147 "Increase avatar size on forum posts for non-mobile viewing"
According to Inspect Element on Chrome, avatars on forum posts are displaying at 41px x 41px. Can we increase this to 60px x 60px for non-mobile users? The current size of avatars on the mobile site is great, IMO, but they're too small on PC browsers.

Keep the current avatar size on blog comments, profile pages, activity feeds, guides, guide comments, dev tracker/sidebar posts, influence posts an

[2015-01-28 01:29] iamjohnp commented on #147
@iamisom are you getting complaints from users on this? I personally think the current size is great since the content should really be what draws attention on the page. I understand that avatars are a nice expression of personality, but would rather avoid cluttering up the page if it can be avoided.

Let me know and we can get this implemented if it's high prio.

[2015-01-28 01:35] iamisom commented on #147
https://www.dungeondefenders.com/2/topic/116404/improvement-avatar-size

Our old Website Feedback threads were wiped, but it was a fairly common comment. I personally think they should be a bit larger because they're a tiny bit too small. While focusing on content is great, people associate forum posters with their avatars. Our current forums decrease this association and loses some of the persona

[2015-01-28 01:36] iamjohnp commented on #147
makes sense. we'll get this in queue and busted out right quick!

[2015-01-28 01:36] iamisom opened #148 "Clock icon for posts on notifcations aren't in a uniform location"
http://prntscr.com/5xyfp7
http://prntscr.com/5xyfzd

Tiny issue. The clock icon isn't in a uniform location on all notifications.

[2015-01-28 01:36] iamjohnp commented on #147
@mbizzle can you take a quick swipe at this? please note that this is only in forums, as josh outlined above. let me know if you have questions...

[2015-01-28 01:41] iamisom opened #149 "More distinction between new and old notifications"
http://prntscr.com/5xyczz

While the image above shows old notifications, both new and old notifications look the same. It's difficult for me to determine which notifications I've already looked at.

[2015-01-28 01:42] iamisom commented on #149
BTW:  I'm about to make a ton of github posts. Don't hate me.

[2015-01-28 01:44] iamisom opened #150 "More distinction between read and unread private messages"
http://prntscr.com/5xyi91

The top two messages in this image are unread; the bottom three messages are read. There's no distinction between the two. Can we create more distinction between the two, please?

[2015-01-28 01:49] iamisom opened #151 "More distinction for pinned posts"
Steam forums:  http://prntscr.com/5xyizk
Our forums:  http://prntscr.com/5xyj5q

Is it possible to make pinned posts a different color from unpinned threads? Something like this:  http://prntscr.com/5xyjuu (Ignore the underlining on the first thread. I'm just referring to the color.)

It's kind of difficult to see the difference between pinned and unpinned threads on our forums. I'm open to other

[2015-01-28 01:56] iamisom opened #152 "Most notification emails aren't working for me"
Here are my notifications:  http://prntscr.com/5xylmq

I receive emails when someone sends me a personal message, but I haven't received an email when someone tagged me in a forum post, tags me in a thread, quotes my forum post or tags me in a blog comment. I haven't personally experienced any of the other notification settings, so I can't confirm if those aren't working properly either. Can we lo

[2015-01-28 01:57] iamisom opened #153 "Bug when hovering over a player's title"
https://www.dungeondefenders.com/2/topic/115001/bug-hover-over-title

Hovering over a title in the forums (like Administrator) shows you the code behind the title, not the caption for it.
{"name":"Administrator","badge":"TElogo.png"} instead of Administrator.

[2015-01-28 03:08] iamisom opened #154 "Additional text on Avatar upload about animated gifs"
While the max upload for avatars is 110x110, the max upload for animated gifs is 81x81. It'd be great if we could add text here (http://prntscr.com/5xz8by) explaining that the max upload for animated gifs is 81x81.

[2015-01-28 03:19] iamisom opened #155 ""No New Notifications" display changes"
http://prntscr.com/5xz8u2

This one is a personal pet peeve. When there are no new notifications, can we:

1)  Hide the black circle with numbers
2)  Change the exclamation mark circle from white to grey

[2015-01-28 03:23] iamisom opened #156 "Bug: DD1 Guides do not appear in the Guides search section"
Repro:

Step 1:  Click on DD1 guides. Find a guide to use as an example. For this one, we'll use this:  https://www.dungeondefenders.com/1/guides/46675/new-layout-planner-ddplannerczokalapikcom

Step 2:  Copy the thread title and enter it into the search.

Step 3:  Notice that the guide does not appear in the Guides section. It does, however, appear in the Forum Topics section.

[2015-01-28 03:44] iamisom opened #157 "Notification Changes"
Note:  For all changes below, make the names of threads/blogs a different color than the rest of the text to highlight that it's a name.

**1)  For any notifications dealing with thread tracking, replace "a thread you track" with the name of the thread to the notification.**

Example:

Current:  R-Kane and 4 others replied to a thread you track.
New:  R-Kane and 4 others replied to Letting Sub-Cor

[2015-01-28 03:52] iamisom opened #158 "More distinction for links on the DD2 site"
Current:  http://prntscr.com/5xzk55
Suggested:  http://prntscr.com/5xzkbl

Can we automatically bold hyperlinks on the DD2 site so that they stand out a bit more?

[2015-01-28 03:56] iamisom opened #159 "Forum post background/thread title background color change on DD2 site"
Current Forum Post Background:  http://prntscr.com/5xzkz6
Suggested Forum Post Background: http://prntscr.com/5xzlhn
Current Thread Title Background:  http://prntscr.com/5xzlns
Suggested Thread Title Background:  http://prntscr.com/5xzll9

Can we change the background of regular user forum posts and thread title bars to #26272c? Regular user means that they are not a Defense Councilor, Administrat

[2015-01-28 04:00] iamisom opened #160 "Add title of thread to Tab Information"
http://i.imgur.com/HIhrK42.png

Can we add the name of the thread topic to tabs? For example, the tab in the above linked image should read "Legendary Loot. - Dungeon Defenders 2 Forum" and not what it currently says.

For users who open multiple threads at once, this is particularly useful.

[2015-01-28 04:02] iamisom opened #161 "Bug: Notification dropdown disappears when click "Mark As Read""
Whenever you click "Mark As Read" on a notification in the dropdown, the dropdown menu disappears, and the user has to reopen the dropdown menu again. Can we keep this dropdown menu open when you mark a notification as read?

[2015-01-28 04:24] iamisom opened #162 "Moderation Backend Page"
We need a backend page for player moderation. This page should be viewable by moderators and administrators. This page needs:

**1)  A widget for currently active reports. This widget should have three columns:  the first main column will be a notification-style feed detailing the reports; the second column will contain the reason the material was reported; the third column will contain a button f

[2015-01-28 04:25] iamisom opened #163 "Report a Post Function"
Please add a report function in the ellipsis dropdown menu on posts/threads. By selecting this option, a popup should appear that lets users fill in a text field (character limit:  150 characters). After selecting Submit, a report will be sent to the Moderation Backend Page as described in this Github task:  https://github.com/DuxterInc/trendy-community/issues/162

[2015-01-28 04:43] iamisom opened #164 "What's New Page Filter"
Add a new section in the Settings menu called "What's New Page Settings." Similar to the Notifications menu, this page will let players filter threads from the What's New page so that they only see content from subforums that interest them. If a subforum gets filtered, any threads created or marked unread will not be shown in the What's New page.

These filters are:

**Dungeon Defenders II**
* Gen

[2015-01-28 04:46] iamisom opened #165 ""What's New?" Page"
This is a feature from our old vBulletin site that is highly requested by our community. In essence, this is a new subforum that includes threads from every subforum that are currently unread. When a thread becomes read, it is removed from this list. When a thread gets a new reply or a new thread is created, it is added to this list. The What's New Page will include threads from all subforums from

[2015-01-28 04:50] iamisom opened #166 "Option to increase posts/threads per page"
Add an option to the settings page that lets players increase posts per page and threads per page. Use the following filters as options:

* 10
* 20
* 50
* 100

[2015-01-28 04:53] iamisom opened #167 "Button to Jump to First Unread Post"
Thread List:  http://prntscr.com/5xzz3t
Thread Details Box:  http://prntscr.com/5xzz7d

Add a button to the Thread List and Thread Details Box to let users go directly to the first unread post in a thread. This is great for threads that have received a ton of activity while the user was away and lets the user get right back where he/she left off.

[2015-01-28 04:57] iamisom opened #168 "Clicking the white TE logo on a thread will take you to the first Dev Post in the thread"
http://prntscr.com/5y006s

When a user clicks the white TE logo, they should be taken to the first Dev Post in the thread.

[2015-01-28 16:21] iamjohnp commented on #147
@mbizzle can we get equal padding around the entire avatar?

![](http://ss.imjp.me/20150128092034.png)

right now it's basically touching the username and badge. feels too squishy.

[2015-01-28 16:22] iamjohnp commented on #147
meanwhile, @iamisom can you just double check that screenshot above and let me know if that feels about right to you, size-wise?

[2015-01-28 16:25] iamisom commented on #147
I'm curious:  Is it possible to increase the avatar size only when it's in this mode:  http://prntscr.com/5y5mq5

I feel like increasing the avatar size for when it's on mobile browsers or when it's in the mode you've shown will make reading more cumbersome.

[2015-01-28 16:29] iamisom commented on #147
If we can't separate the avatar sizes, then the size you've shown me is fine, as long as we increase the padding around it.

[2015-01-28 16:30] iamjohnp commented on #148
This should be taken care of. We'll revisit once we get a deployment to production.

[2015-01-28 17:06] iamjohnp commented on #166
@iamisom if you have a sort of middle ground number that you think would be ideal to reset as the default number of replies/threads per page (they don't have to be the same for replies and threads), then we're happy to update that. i will note that 100 will be too many and cause performance issues. having another option for users to deal with that just clutters up the UI is not something we'd pref

[2015-01-28 17:12] iamjohnp commented on #158
@iamisom to me the bolding doesn't really add to it at all. however, i think underlining it should help. do you agree?

[2015-01-28 17:16] iamjohnp commented on #155
@iamisom i think we'll just get rid of the circle and number when notifications = 0. let me know if you're not ok with that.

[2015-01-28 17:24] iamjohnp commented on #150
@iamisom i have a simple solution for this. let me mock it up for you.

[2015-01-28 17:32] iamjohnp commented on #149
![](http://ss.imjp.me/20150128102912.png)

we'll plan on updating the background color of the "more notifications" page to match the background of the notifications dropdown. we'll then make sure that there is a different color state on the "more notifications" page for unread notifications that matches the same state in the notifications dropdown.

[2015-01-28 17:32] adamlieb commented on #154
Originally referenced here https://www.dungeondefenders.com/2/topic/116839/see-comment?scrollTo=1097676#1097676

[2015-01-28 17:36] AnthonyKinson commented on #156
Hey,

Guides have now been properly re-assigned for DD1 and are listing properly in live search.

![](http://ss.anthonykinson.co.uk/280115173527.png)

[2015-01-28 17:37] iamisom commented on #149
Sounds good. Will we also have a Mark As Read button on the More Notifications page?

[2015-01-28 17:54] #156 closed

[2015-01-28 18:23] iamisom commented on #155
That works.

[2015-01-28 18:25] iamisom commented on #158
The issue is the blue color for hyperlinks makes it appear less bold/less defined than the normal white text. Underlining it will help. What if we did both? Would that be too much?

[2015-01-28 18:27] rsyvarth commented on #160
This should be done and on staging now.

[2015-01-28 18:29] rsyvarth commented on #160
Leaving open until on production

[2015-01-28 18:29] iamisom commented on #166
The issue here is player customization and feature parity with vBulletin. This is an option that was in our previous forums that we have lost and will continue to be a sore spot for our community when they compare the two. Is it not possible to include a dropdown menu in the Settings for this? That should be a fairly uncluttered way of doing this. As for the 100 posts, that's fine to exclude.

[2015-01-28 18:45] iamjohnp commented on #166
one thing we're not trying to do **at all** is have feature parity with VB. we're actually trying to simplify and make a better experience all around. in that vein, showing a set number of replies/threads for every user provides consistency and clarity. it also keeps the site as performant as it can be.

again, i think we want to find the "ideal" number of posts to show at once, and then make that

[2015-01-28 18:58] iamjohnp commented on #158
@iamisom sure!

@mbizzle when you get a moment, can you make sure that hyperlinks on the DD2 site get both bolded and underlined? reassign to me when complete.

[2015-01-28 19:09] iamjohnp commented on #155
@mbizzle can you please update the notifications counter in the header so that it does **not** show a counter when new notifications = zero?

was:
![](http://ss.imjp.me/20150128120218.png)

should be:
![](http://ss.imjp.me/20150128120853.png)

[2015-01-28 19:14] iamjohnp commented on #149
yes, the same "x" will be present to the right of the time stamp.

[2015-01-28 19:32] iamjohnp commented on #149
![](http://ss.imjp.me/20150128123200.png)

@mbizzle can you please do as instructed in the image above ^^? let me know if anything is unclear.

[2015-01-28 23:00] iamjohnp commented on #161
@iamisom we can do that. i'll get @mbizzle on it right away.

[2015-01-28 23:00] iamjohnp commented on #159
yes, i think this looks a bit tighter actually. @mbizzle take it away!!

[2015-01-28 23:38] iamjohnp commented on #152
@iamisom i have confirmed this an issue and we're fixing it now.

[2015-01-28 23:53] iamjohnp commented on #152
@iamisom when was the last time you received an email from activity on production (not staging)?

[2015-01-29 00:07] iamisom commented on #152
On January 22, I received an email about a new private message.
On January 14, I received an email about a new private message.

Those are the only two emails that are in my trash bin going back to the beginning of the month.

For the record, I receive at least 3 private messages a day.

[2015-01-29 00:09] iamjohnp commented on #152
that's helpful. thanks!

[2015-01-29 00:38] iamjohnp commented on #151
@iamisom i'd recommend we update the color of the pin icon itself to help it stand out without making it a distraction. i threw together a few examples of colors below. do any of these seem ideal to you?

![](http://ss.imjp.me/20150128173741.png)

[2015-01-29 02:43] iamisom commented on #151
Great idea. Let's go with the green tacks. That fits in with the Popularity gems.

[2015-01-29 16:27] olshiftyeye commented on #158
@mbizzle here is an OP and a reply...
![](http://ss.imjp.me/20150129092555.png)

- [ ] it looks like you applied bolding to replies, but they should be underlined as well
- [ ] OP links have neither bolding nor underline

[2015-01-29 16:34] olshiftyeye commented on #153
looks complete on staging. i'll double check once we've deployed to production.

[2015-01-29 16:40] olshiftyeye commented on #147
Done, just awaiting deployment to production.

[2015-01-29 16:40] #147 closed

[2015-01-29 16:47] olshiftyeye commented on #159
@mbizzle it looks like the darker "forum post background" isn't being applied to the nomnom user group:

![](http://ss.imjp.me/20150129094741.png)

[2015-01-29 18:13] olshiftyeye commented on #151
@mbizzle can you update all of the pin icons in forums to #1fa941 please?

[2015-01-29 18:29] olshiftyeye commented on #150
@iamisom
![](http://ss.imjp.me/20150129111745.png)

@mbizzle let's use the mail-4 icon from our solid icon pack, placed as shown above, for unread messages.

[2015-01-30 16:37] olshiftyeye commented on #151
looks good! just awaiting completion of some other issues before we deploy.

[2015-01-30 16:37] #151 closed

[2015-01-30 16:38] olshiftyeye commented on #158
ready for deployment.

[2015-01-30 16:38] #158 closed

[2015-01-30 16:41] olshiftyeye commented on #159
ready for deployment.

[2015-01-30 16:41] #159 closed

[2015-01-30 16:44] olshiftyeye commented on #161
ready for deployment.

[2015-01-30 16:44] #161 closed

[2015-01-30 17:07] olshiftyeye commented on #150
@iamisom this is going to take some significant work on our end, so i'm putting it into our someday pile for now.

[2015-01-30 17:14] olshiftyeye commented on #154
i was able to reproduce this with the images shown below. in the case of the larger image, it uploads fine and animates in the header and other places on the site, but doesn't animate on the forums. when i upload the smaller image, however, it animates everywhere without any issues.

##### didn't work
![](https://cloud.githubusercontent.com/assets/4674805/5979809/2bce3b06-a868-11e4-8711-339efddc7a

[2015-01-30 17:16] olshiftyeye commented on #163
this is a pretty hefty implementation, but something we're working on. just a heads up this will be implemented at some point in the not-too-distant future. but it will take some time before it's ready to deploy.

[2015-01-30 17:21] olshiftyeye commented on #168
@mbizzle i think this is pretty self-explanatory. let me know if you have questions.

[2015-01-30 17:41] olshiftyeye commented on #167
![](http://ss.imjp.me/20150130103330.png)

@mbizzle the design is above. please use mail 4 icon from our solid icon pack. in the case that there is no dev post, the envelope should appear in that position. also, the envelope should only appear to an individual user if that user has not read 1 or more messages in that thread. clicking the icon should nav the user to the oldest unread message in the

[2015-01-30 17:48] iamisom commented on #163
Sounds good.

[2015-01-31 20:39] iamisom opened #169 "Screenshots aren't loading into the main Media page"
We have two community-submitted screenshots, but they aren't loading into the media page. Is this automatic, or do they need to be marked as "featured"?

[2015-01-31 20:41] iamisom commented on #169
Ah, they do need to be featured.

[2015-01-31 20:41] #169 closed

[2015-02-02 04:27] iamisom opened #170 "Bug: Activity Feed having issues with showing recent posts when you click "Load More Posts""
http://prntscr.com/6015bn

Usually a refresh of the page will fix this, but this is occurring often enough to warrant a bug post. Whenever you click "Load More Posts," more often than not, it will not load the next chronologically relevant posts. Instead, it will show posts from a day or two prior, skipping over all of the posts in-between the first shown posts and the newly filtered posts.

[2015-02-02 05:13] iamisom opened #171 "Request: Change the "Thread Started On" details"
https://www.dungeondefenders.com/2/topic/116843/thread-started-vs-last-post

The thread above has more details. I'd like it if we kept the username color the same, but other than that, I agree with this thread.

[2015-02-02 09:08] mbizzle commented on #168
@rsyvarth can you add the same topicPosition parameter to the forum listing as you did for dev tracker and the notifs for the redirect?

https://dd-aws.duxsites.com/2/forum/15/defense-council-general-discussion

[2015-02-02 17:05] #149 closed

[2015-02-02 17:05] olshiftyeye commented on #149
ready for deployment.

[2015-02-02 17:18] olshiftyeye commented on #170
hmm, that's odd. i'm not able to reproduce the error. let me see if i can get kai to reproduce.

[2015-02-02 21:15] olshiftyeye commented on #152
@iamisom we've made an update so i tested this on production and i received all of the proper emails. i'm going to close this out, but let me know / reopen this issue if you continue having problems.

[2015-02-02 21:15] #152 closed

[2015-02-02 21:42] iamisom commented on #155
I'd like to re-open this. The visual cue isn't strong enough between active and inactive.

Facebook empty:  http://prntscr.com/609l00
Facebook filled:  http://prntscr.com/609lbo

Facebook's notifications always catch my eye, but I tend to glaze over our notifications. This may be an issue with the notification button. The white notification icon makes the notification button appear active at all t

[2015-02-02 22:11] olshiftyeye commented on #155
i definitely don't want to quibble about the design, but i'll say that facebook's notifications stand out more because you have three icons in a row:

![](http://ss.imjp.me/20150202150448.png)

as a result, when one is highlighted (along with the big red counter) there is some nice contrast that draws your eye:

![](http://ss.imjp.me/20150202150607.png)

the problem with the dd site(s) is that we

[2015-02-02 23:08] iamisom commented on #155
I agree with what you've said. I think making the counter pop more might be a good approach here.

[2015-02-02 23:16] iamisom commented on #166
In what ways does keeping posts/threads consistent across all users improve the user experience? Wouldn't providing choice improve the user experience? I'd love to hear your thoughts on the matter.

[2015-02-02 23:21] iamisom opened #172 "Request: Global notification for when an admin posts a new blog or a new Initiative poll"
I talked with the Council today, and they said they would like to get notified whenever we make a new blog or a new Initiative. Are we able to do this?

Also, it would be great if it could follow this format:

"[Username] posted a new [development blog/Initiative]: [title of blog/title of Initiative]"

[2015-02-02 23:29] olshiftyeye commented on #155
How does this look to you? Too clashy? or just the right amount of pop?

![](http://ss.imjp.me/20150202162905.png)

[2015-02-02 23:32] iamisom opened #173 "Request/Urgent: Add "Feedback" subforum to DD2"
Can you please add a Feedback subforum to the DD2 forums as soon as possible? We have a patch going live later this week, and I'd like this subforum to be up at that time.

Only admins/moderators/development team members may create new threads in this subforum, but anyone can make a reply to a thread. This subforum is viewable by everyone.

New hierarchy should be:
Defense Council General Discussi

[2015-02-02 23:33] olshiftyeye commented on #173
which character would you like in the background?
![](http://ss.imjp.me/20150202163307.png)

[2015-02-02 23:33] iamisom commented on #173
Do we have an Apprentice background?

[2015-02-02 23:35] olshiftyeye commented on #173
let me check, also should we call it "game feedback" or something more specific? we have website feedback and suggestions, so it might help to add an identifier to the forum name.

[2015-02-02 23:43] iamisom commented on #155
It might be a little too clashy with the background color behind the notification icon.

![otiuz3f](https://cloud.githubusercontent.com/assets/9043673/6011519/a02566e2-ab0a-11e4-891b-065da97183d6.png)

Without the background color, the new pop stands out more.

Here's my opinion:  The current background color behind the user profile/notification draws your eye to it. This works for new users, but

[2015-02-02 23:45] olshiftyeye commented on #173
![dd2_buttonbackgrounds](https://cloud.githubusercontent.com/assets/4674805/6011562/8306f586-aafa-11e4-8807-a6d069d62098.png)

[2015-02-02 23:47] iamisom commented on #173
Good call on "Game Feedback." Let's go with that. :)

We should use the Apprentice background. We should also think for a moment about the background images of the other subforums (excluding Defense Council GD, Defense Council Suggestions, Trendy Only and Archive).

![krhx1j7](https://cloud.githubusercontent.com/assets/9043673/6011610/e56a3e02-ab0b-11e4-8d5d-c1626da08834.png)

We should make sure

[2015-02-02 23:49] iamisom commented on #155
Do we have any metrics on the # of users who click on this? I might be arguing about an issue that isn't an issue.

[2015-02-03 00:01] olshiftyeye commented on #173
How's this for images (updated so there won't be any of the same images above/below or left/right of each other)?

Defense Council General Discussion
![](https://cloud.githubusercontent.com/assets/4674805/4450531/b933d8c2-4826-11e4-9525-92b84d5c750c.png)

Defense Council Suggestions
![](https://cloud.githubusercontent.com/assets/4674805/4450537/ccf61d7a-4826-11e4-8ead-5966c24d7db0.png)

General Di

[2015-02-03 00:02] iamisom commented on #173
Perfect. Thanks!

[2015-02-03 00:13] olshiftyeye commented on #173
@AnthonyKinson can you make it so? please reassign to @mbizzle for any front-end magic that needs to happen here.

[2015-02-03 00:15] AnthonyKinson commented on #173
Sure, will have this up just as soon as I find my wand.

[2015-02-03 00:41] olshiftyeye commented on #155
changing the background color of that area will take some effort and time. i think we'd get the most "bang for our buck" by changing the counter background to red. when you don't have new notifs, it might still draw your eye (as you stated), but having that red up there really draws your eye more. it's my recommendation we go with the red counter bg and keep the same blue bg as it is.

[2015-02-03 01:01] olshiftyeye commented on #166
i talked with the devs about this and it isn't really something we can implement. there are too many dependencies with performance issues, URL structures and object model relations. we **can**, however, universally change the number of posts that display from 10 to some other number. i'd recommend staying at 25 or fewer so as not to affect page loads.

how many threads do you think we should load

[2015-02-03 01:31] #148 closed

[2015-02-03 01:33] olshiftyeye commented on #160
@iamisom this is done now and on production.

[2015-02-03 01:33] #160 closed

[2015-02-03 01:33] #153 closed

[2015-02-03 01:50] kaiheilos commented on #170
![screenshot 2015-02-03 01 49 05](https://cloud.githubusercontent.com/assets/9444563/6013017/022c7196-ab47-11e4-818a-1c1b3a05b06a.png)

[2015-02-03 01:57] olshiftyeye commented on #170
how did you repro that!? steps pls?

On Monday, February 2, 2015, kaiheilos <notifications@github.com> wrote:

[2015-02-03 02:16] kaiheilos commented on #170
I just went to the DD2 forum and clicked load more twice

[2015-02-03 02:17] iamisom opened #174 "Avatar update issues"
1)  Avatars on the forums are oddly shaped.
http://prntscr.com/60f1ra

2)  Avatars were enlarged on the blogs, blog comments, guides, guide comments and initiative comments, which we did not want. We only wanted the avatar size increased on the forums.
http://prntscr.com/60f1fv
http://prntscr.com/60f1oi

[2015-02-03 02:19] iamisom commented on #153
Was this pushed live?

[2015-02-03 02:20] iamisom commented on #158
Was this pushed live?

[2015-02-03 02:20] iamisom commented on #151
Was this pushed live?

[2015-02-03 02:21] iamisom commented on #149
Was this pushed live?

[2015-02-03 02:24] olshiftyeye commented on #153
yes

![](http://ss.imjp.me/20150202192356.png)

probably a caching issue if you're not seeing it.

[2015-02-03 02:25] olshiftyeye commented on #158
yes

![](http://ss.imjp.me/20150202192500.png)

probably a caching issue if you're not seeing it.

[2015-02-03 02:26] olshiftyeye commented on #151
yes

![](http://ss.imjp.me/20150202192627.png)

probably a caching issue if you're not seeing it.

[2015-02-03 02:27] iamisom commented on #158
https://www.dungeondefenders.com/2/topic/116998/

Newly created link.

[2015-02-03 02:27] olshiftyeye commented on #149
yup

![](http://ss.imjp.me/20150202192727.png)

again, probably cache issue.

[2015-02-03 02:29] olshiftyeye commented on #158
this is what i see:

![](http://ss.imjp.me/20150202192924.png)

[2015-02-03 02:33] olshiftyeye commented on #174
avatars are looking fine for me on forums:
![](http://ss.imjp.me/20150202193114.png)

but you're right, somehow the update got pushed to other areas of the site. fix coming.

[2015-02-03 02:34] iamisom commented on #174
I just had to delete my browser cache. Thanks for the update on the fix.

[2015-02-03 03:12] olshiftyeye commented on #154
@sky-duxter, can you confirm whether this is related to https://github.com/DuxterInc/DungeonDefendersEternity/issues/722?

[2015-02-03 14:13] iamisom commented on #166
We should stick to the default at the moment. If the community clamors more for this in the future, I'll reopen the conversation.

[2015-02-03 14:13] #166 closed

[2015-02-03 17:00] adamlieb opened #175 "Add GA custom event for Alienware logo clicks"
Trendy wants to be able to track how many clicks the Alienware logo in the footer is getting. We need to add a custom click tracking to that footer link so they can track it.

[2015-02-03 17:02] adamlieb commented on #175
Quick note. Make sure this happens on TRENDY's GA account (not ours)

[2015-02-03 17:20] AnthonyKinson commented on #154
This is more likely an issue with which image is being used in each location. To my knowledge, When an avatar is uploaded, we generate thumbnail versions of that image. When images are resized, animated gis lose their additional frames and are no longer animated. In cases where images are no bigger than the thumbnail, no resize processing is required, and the thumbnails retail their animation.

Th

[2015-02-03 17:22] olshiftyeye commented on #171
@mbizzle can you please make this...

![](http://ss.imjp.me/20150203101941.png)

...look like this?

![](http://ss.imjp.me/20150203101918.png)

To be clear, I'm referring to the [create date](http://ss.imjp.me/20150203102122.png) for a thread on a [thread list](https://www.dungeondefenders.com/2/forum/20/website-feedback).

[2015-02-03 17:41] olshiftyeye commented on #154
![](http://ss.imjp.me/20150203103738.png)

@mbizzle please update the "help" text here to read as follows:

"Files must be 5MB or smaller. For best results, 81 x 81 and square (larger dimensions can affect animated GIFs)."

please update the size of the preview avatar to 81 x 81 as well (currently it's 110 x 110).

[2015-02-03 17:47] olshiftyeye commented on #174
@iamisom this is now on production. closing ;)

[2015-02-03 17:47] #174 closed

[2015-02-03 17:50] AnthonyKinson commented on #173
ok this is done @mbizzle.

You need to special case the frontend. ONLY show "start thread" buttons to groups with id **3**, **4**, **6** ($user->users_group->id) When the Forums category ID = **26**

This has been done before for "Patch Notes" (category id 24) so you shoudl be able to duplicate the code there. API will refuse to allow thread creation by anyone who is not Admin, Mod or Dev, but we

[2015-02-03 17:57] AnthonyKinson commented on #173
@mbizzle don't worry about this, i'm having thomas do it as he done it before, shoudl make this real quick and save you jumping off what you're currently doing.

[2015-02-03 18:01] #175 closed

[2015-02-03 18:26] AnthonyKinson commented on #173
@olshiftyeye this is all live except for the background image. Please reassign this issue to whoever should add this in.

[2015-02-03 18:52] mbizzle commented on #173
bgs updated

[2015-02-03 18:57] mbizzle commented on #171
@olshiftyeye want to do a quick staging check?

[2015-02-03 18:58] olshiftyeye commented on #171
acceptable!

[2015-02-03 18:58] #171 closed

[2015-02-03 19:01] olshiftyeye commented on #173
@mbizzle can you fix the order of the categories? they aren't currently ordered correctly.

[2015-02-03 19:03] olshiftyeye commented on #154
good on staging. ready to deploy to production.

[2015-02-03 19:03] #154 closed

[2015-02-03 19:08] olshiftyeye commented on #167
@iamisom this is also going to take some significant work on our end, so i'm putting it into our someday pile for now.

[2015-02-03 19:15] olshiftyeye commented on #173
acceptable!!

[2015-02-03 19:15] #173 closed

[2015-02-04 17:02] iamisom commented on #167
This is a highly requested feature from our community. Is there any chance that we can bump this up?

[2015-02-04 17:05] iamisom commented on #155
I understand. Let's move forward with the red circle change for now.

Also, we should probably keep the black number for the DD1 site since the profile bar color is red. Thoughts?

[2015-02-04 17:47] olshiftyeye commented on #155
I agree. @mbizzle take it away!

[2015-02-04 19:07] iamisom opened #176 "Request: Like/Quote Button Hover Change for DD2"
I love the way the like and quote buttons on the DDE site feel when you hover over them. The text on the buttons move down slightly when you hover over them. Can we replicate that for the DD2 site?

[2015-02-04 19:11] iamisom opened #177 "Request: Hover Change for Subforums"
http://us.battle.net/d3/en/forum/

I love the way the subforums feel on the Diablo III forums. They feel like elements that you can click. Is there someway that we can add a hover change for our subforums so they feel like more interactive/button elements?

[2015-02-05 20:14] olshiftyeye commented on #177
@mbizzle for dd2, let's highlight the icon and category title in #ffeca6 on hover.
![](http://ss.imjp.me/20150205131358.png)

for dd1/dde, let's highlight the icon and category title in #e8ab64 on hover.
![](http://ss.imjp.me/20150205131309.png)

[2015-02-05 20:54] olshiftyeye commented on #176
@mbizzle i think for dd2 we should flip the gradient on the background of these buttons when they are hovered over.

![](http://ss.imjp.me/20150205135232.png)

PM me on slack when you dive into this and we can chat further.

[2015-02-06 00:20] olshiftyeye commented on #176
ready for deployment.

[2015-02-06 00:20] #176 closed

[2015-02-06 01:34] olshiftyeye commented on #155
ready to deploy!

[2015-02-17 17:41] iamisom commented on #176
When is this going to be deployed?

[2015-02-17 17:42] iamisom commented on #177
What's the status report on this?

[2015-02-17 17:42] iamisom commented on #168
Any ETA on this?

[2015-02-17 17:42] iamisom commented on #167
Bumping again. This is highly requested.

[2015-02-17 17:43] iamisom commented on #163
Any ETA?

[2015-02-17 17:43] olshiftyeye commented on #176
Apologies @iamisom I thought we had deployed this already. Will get it pushed ASAP.

[2015-02-17 17:44] olshiftyeye commented on #177
Not yet implemented (even on staging). Will chat with the team and get back to you.

[2015-02-17 17:47] olshiftyeye commented on #168
This is something we'll be implementing sometime in the coming weeks. We've currently got it in queue to build out the functionality (not exactly trivial). Will update you when it's ready for deployment. Let me know if you have any questions.

[2015-02-17 17:48] olshiftyeye commented on #167
Same as #168 this is in queue. Will report back when complete.

[2015-02-17 17:50] olshiftyeye commented on #163
No ETA quite yet. As with #167 and #168 this is in queue, but it's a fairly complex system. I'll definitely update you when it's ready :)

[2015-02-17 18:02] olshiftyeye commented on #155
@iamisom this was just deployed.

[2015-02-17 18:02] olshiftyeye commented on #176
@iamisom this was just deployed.

[2015-02-18 19:44] kaiheilos opened #178 "Notif counters inconsistent"
![screenshot 2015-02-18 19 40 58](https://cloud.githubusercontent.com/assets/9444563/6255243/8744ed02-b7a6-11e4-8215-7143de05d50a.png)
DD2 doesn't have a number when there's no new notifs but DDE/1 do

[2015-02-18 20:21] olshiftyeye commented on #155
@mbizzle looks like we only did the request below on DD2. can you please update DDE/DD1 as well?

![](http://ss.imjp.me/20150218132114.png)

[2015-02-18 20:22] olshiftyeye commented on #178
Reopened #155 as that's where this was originally handled.

[2015-02-18 20:22] #178 closed

[2015-02-18 20:30] olshiftyeye opened #179 "Update media post options for non-admins"
Currently, if a user uploads a screenshot or fan art to the media section they can see the option to 'Mark as Featured' on their own post. Non-admin users should only see the option to delete their own post. Even worse, clicking the "Mark as Featured" option logs the user out and redirects to a 401 permissions error.

Ew.

Can you please update the dropdown to just not show this as an option?

[2015-02-18 20:35] olshiftyeye opened #180 "Icon size inconsistency"
From David:

![screenshot 2015-02-17 20 35 59](https://cloud.githubusercontent.com/assets/9444563/6236740/06891f38-b6e5-11e4-89e4-f8ba738a549e.png)

[2015-02-23 15:49] iamisom opened #181 "Extra Analytics Data"
1.  Below "Total New Users," we need a new metric:  "Total New Users Who Became Active." This metric should show the number of Total New Users for that month who made at least one post during the month. This will help us calculate how many New Users became Participants of the community.

2.  We need to evaluate the conversion ratio of Participants to Regular Members in order to figure out where pe

[2015-02-23 19:01] iamisom opened #182 "Bug: Reply/Like Buttons on Blog Are Wrong"
https://www.dungeondefenders.com/2/blog/117530/comment?scrollTo=1103734#1103734

The buttons on the blog are permanently shown in the hover view and do not have the hover functionality in place.

[2015-02-24 20:44] iamisom commented on #181
This is fairly urgent. I am okay with getting the first part in before getting the others, but I need to figure out where some of our community issues are residing.

[2015-02-24 22:24] olshiftyeye commented on #181
@iamisom we can get #1 pushed tomorrow, since it's super low burden. the others are a bit more intense so we'll not be able to get those live for a bit.

[2015-02-24 22:25] olshiftyeye commented on #181
@rsyvarth just reassign to me when that's done, if you would.

[2015-02-25 03:13] rsyvarth commented on #181
Part 1 has been added on production. The information is under "New Monthly Active Posters" which is just the intersection of the set of members in the "Monthly Active Posters" chart with the set of members who have joined in the selected month.

[2015-02-25 03:22] olshiftyeye commented on #181
thanks rob! @iamisom #1 is now deployed to production. let me know if there are any immediate changes needed to that particular report. otherwise, we'll get to the other, heavier reports soon.

[2015-02-25 14:25] iamisom commented on #181
Thanks! This is perfect. I appreciate the breakdown by game, too!

[2015-02-25 16:21] olshiftyeye commented on #181
:+1:

[2015-03-03 16:00] iamisom opened #183 "Dev Tracker Cache Issue"
https://www.dungeondefenders.com/2/forums/devtracker

When you click Load More Posts, it loads a few more posts, but then it loads in the previously loaded posts again.

[2015-03-03 16:01] iamisom commented on #181
The stats for March aren't loading in. Is this a bug?

[2015-03-03 16:44] olshiftyeye commented on #181
Might be a bug. Looking into it.

[2015-03-03 17:52] olshiftyeye commented on #183
hmm, @iamisom none of us are able to reproduce this issue. can you provide some more details about how you're running into this issue and about how often?

[2015-03-04 02:24] rsyvarth commented on #181
Resolved and pushed to production

[2015-03-04 02:24] #181 closed

[2015-03-12 17:01] f1297309 opened #184 "Error when trying to view messages via notification bar/dropdown"
So when I click this message:

![notification](https://cloud.githubusercontent.com/assets/11444684/6623166/a6be6b32-c8b7-11e4-98c8-b1ee41025430.png)

I get logged out no matter where I am and get:

![view_message](https://cloud.githubusercontent.com/assets/11444684/6623139/7dddf944-c8b7-11e4-8a1a-f53e43952a76.png)

But I can view the message fine via just going to Messages first then clicking the

[2015-03-14 22:15] kaiheilos opened #185 "Fanart previews in the media section"
If a person uploads a piece of media that's not the same resolution as the preview box, it gets smooshed in the preview

Example;
https://www.dungeondefenders.com/2/media/fanart/21264
https://www.dungeondefenders.com/2/media

[2015-03-19 21:12] iamisom opened #186 "Forum Loading Issue When Logged Out"
http://prntscr.com/6iuumv

This is fixed on a refresh, but new users might not realize that the forums aren't supposed to look like this.

[2015-03-19 21:41] olshiftyeye commented on #186
@iamisom I'm unable to reproduce this. I think this might be a cache issue that a new user wouldn't experience. In fact, only users that had visited the site before we implemented the forum tile backgrounds would even possibly see this.

Is this happening to you often? Or just happened once?

[2015-03-19 21:44] iamisom commented on #186
This happens every time I have been logged out and click the forums.

[2015-03-19 21:45] olshiftyeye commented on #186
Ok, this definitely won't happen for new users. Can you clear your cache and see if that fixes?

[2015-03-24 15:30] iamisom opened #187 "Usernames with Special Characters"
https://www.dungeondefenders.com/2/topic/118144/set-a-du-limit-for-each-player-in-the-comunity-lobby-and-autosell-defenses-when-a-player-leave-the-lobby

We're getting some crazy usernames. Is there anyway to stop this?

[2015-03-24 15:37] adamlieb commented on #187
Those names come from steam account imports. Username rules were derived from steam's so that gamers can use the same name across game and community. 

—AL

On Tue, Mar 24, 2015 at 8:30 AM, iamisom <notifications@github.com> wrote:

[2015-03-24 21:05] iamisom opened #188 "Nom Nom Access to Archive"
Can we get Nom Nom members access to the Archive?

[2015-03-24 22:25] AnthonyKinson commented on #188
You sure can. This has been completed for you.

[2015-03-24 22:25] #188 closed

[2015-03-31 15:09] olshiftyeye commented on #185
@mbizzle can we set the container for the preview image and then keep the aspect ratio intact for the uploaded image (similar to what we're doing elsewhere on our single column newsfeeds)?

[2015-04-01 16:53] iamisom opened #189 "Forum Search Issue"
I'm searching for TE-Stow, but he's not showing up in the results. I confirmed with him that his account is still alive and active.

[2015-04-01 17:47] AnthonyKinson commented on #189
This is now Fixed and deployed to the live site. The issue was special characters being removed when doing exact matches. In this case, it was the `-` character.

![](http://ant.zone/010415184557.png)

[2015-04-01 17:47] #189 closed

[2015-04-08 22:04] adamlieb opened #190 "Tagged profiles don't link properly"
Repro: Hover over a tagged username in this post https://www.dungeondefenders.com/2/blog/118402/dev-log-17-april-1-2015

You are not redirected to that person's profile as you should be.

[2015-04-09 01:08] iamisom opened #191 "Posting a link requires the user to double-click inside the link popup textbox"
When you click the Link button in the text editor, the Link popup appears. If you click once in the linking text field, it does not actually select the text field. You must click the text field twice to be able to write text inside of it.

[2015-04-13 16:58] iamisom opened #192 "Please add "No alternate accounts" to the Forum Rules"
Please add "No alternate accounts" to the Please Don't section of our Forum Rules popup.

[2015-04-13 17:02] iamisom opened #193 "Please add "Don't create contests for forum thread/post likes" to Forum Rules"
Please add "Don't create contests for forum thread/post likes" to the Please Don't section of the Forum Rules.

[2015-04-13 20:13] iamisom opened #194 "Bug: Unmarking a user as a troll makes them a moderator"
Title.

[2015-04-15 20:53] iamisom commented on #188
Sorry to update this, but may we also give Development Team access to the archive, too?

[2015-04-15 21:07] AnthonyKinson commented on #188
Yup, done.

[2015-04-20 15:38] iamisom commented on #192
This is REALLY important.

[2015-04-20 15:38] iamisom commented on #193
This is REALLY important.

[2015-04-20 20:38] AnthonyKinson commented on #192
This has been updated for you

![](http://ant.zone/200415213804.png)

[2015-04-20 20:38] #192 closed

[2015-04-20 20:38] AnthonyKinson commented on #193
This has been updated for you

![](http://ant.zone/200415213804.png)

[2015-04-20 20:38] #193 closed

[2015-04-21 16:26] iamisom opened #195 "Urgent: Forum avatars aren't loading"
Several other members have confirmed.

https://www.dungeondefenders.com/2/topic/118725/trolls-unkickable-and-game-ruining

[2015-04-21 16:32] olshiftyeye commented on #195
We've identified the cause and we're fixing it now.

[2015-04-21 17:18] adamlieb commented on #195
Issue came up with the image resizer, all images are still there, they are just not being properly resized some places like the forums. Will be back in 1-2 hours.

[2015-04-21 17:34] adamlieb commented on #195
Fixed.

[2015-04-21 17:34] #195 closed

[2015-04-24 04:19] iamisom opened #196 "Bug: Issues Remaining Logged In"
For the past few months, we've received various complaints about not being able to stay logged in. Someone mentioned that you have to remove steamcommunity cookies to remain logged in if this issue occurs. This might have something to do with the oauth stuff getting hung up on something.

[2015-05-01 09:54] iamisom commented on #196
"When you log in, you get an access token, that is supposedly valid for 604800 seconds, or 7 weeks. You also get a refresh token. The purpose of the refresh token is to fetch a new access token upon expiry or invalidation of the access token. However, it appears that the functionality for fetching a new access token, using said refresh token, is missing or extremely unreliable."

[2015-05-01 10:04] AnthonyKinson commented on #196
Hi,

Steam only provides a method of validating the user owns their steam account, which is then passed over to log in a user without using their local email and passwords. Session's are maintained locally (not via steam or steam cookies).

You are correct about the refresh tokens, right now sessions will expire and the refresh token's are not being used to renew the session automatically which we

[2015-05-05 20:45] adamlieb opened #197 "DD1 new usergroup and sub forums"
TO BE DONE AT ~10 AM ON 5/6 BASED ON JOSH'S WORD.

In the DD1 forum, I will need two subforums and one new usergroup, but these cannot go live until tomorrow when I give the word as they hinge upon an announcement:

1)  A new usergroup:  Community Development Team. No new public-facing title right now. For the time being, this should be a usergroup purely to give them access to a new subforum.

2)

[2015-05-07 02:43] iamisom opened #198 "Usergroup Bug: CDT users have old grey background on the DD2 forums"
http://prntscr.com/72f51p

[2015-05-07 02:44] adamlieb commented on #198
what is the expected behavior?

[2015-05-07 02:47] iamisom commented on #198
It's expected that they'll have the new dark grey background color.

[2015-05-07 02:47] adamlieb commented on #198
Can you link me to that wherever it is, the dark grey you want it to be? Is this a change? Was it dark grey and reverted back to light grey?

[2015-05-13 05:28] iamisom commented on #198
https://www.dungeondefenders.com/2/topic/119813/pet-food-probability

It's because the Community Development Team usergroup doesn't have the new dark grey background color set for the DD2 forums.

[2015-05-13 05:29] iamisom opened #199 "Clicking "Load More Posts" on the Caption Contest app causes posts to appear twice"
It double loads new posts.

[2015-05-13 15:43] iamisom opened #200 "Members see the option to mark their own captions as winners"

[2015-05-13 15:48] adamlieb commented on #200
Looks like a UI bug. They definitely cannot mark winners, the button may appear so they think they can. Will be fixed, but isn't critical as they actually CANNOT do this.

[2015-05-13 15:58] iamisom commented on #200
Thanks for the confirmation. This is fine to go into a backlog then.

[2015-05-13 15:59] adamlieb commented on #199
I can't seem to repro this. What are you doing and what is happening? I did notice that the last post before load more, and the first post after loading more were created by the same person...but they were different captions altogether. Perhaps I am looking for the wrong thing.

[2015-05-13 19:51] iamisom opened #201 "People are having trouble getting the caption image to load on Google Chrome"
"To be certain, this is the exact error I'm getting on Chrome, where the image won't load: Image from origin 'https://duxsite-trendy.s3.amazonaws.com' has been blocked from loading by Cross-Origin Resource Sharing policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://www.dungeondefenders.com' is therefore not allowed access."

https://www.dungeondefe

[2015-05-13 19:53] iamisom commented on #199
1. Go to https://www.dungeondefenders.com/2/captions on Google Chrome.
2. Notice the first caption.
3. Scroll down. After 9 more captions (10 in total, counting the first caption you read), the 10 loaded captions repeat.
4.  Click Load Posts. 20 more captions load -- 10 new captions and 10 repeats of those new captions.

[2015-05-22 19:51] olshiftyeye opened #202 "List out any design-code inconsistencies"

[2015-05-22 20:04] mbizzle commented on #202
![screen shot 2015-05-22 at 12 41 37 pm](https://cloud.githubusercontent.com/assets/316843/7778624/01dff9b6-0082-11e5-96fc-4b93cfeb3347.png)

the side margins for the footer links and the copyright text would be difficult to get exactly right due to it being dependent on the text size

also the 29px padding in the psd doesn't account for the descender and the ascender in the text which contribute

[2015-05-27 19:23] iamisom opened #203 "Change "Technical Support" on the DD1/DDE forums to "Players Helping Players""

[2015-05-28 17:10] rsyvarth commented on #203
Done and on production

[2015-05-28 17:10] #203 closed

[2015-06-01 20:39] iamisom opened #204 "Can't use special characters in the Caption Contest"
https://www.dungeondefenders.com/2/topic/120218/add-common-special-characters-to-your-dd2-font#boxreply

[2015-06-01 20:43] adamlieb commented on #204
This is an issue with the Single Sleeve font, it is simply missing these characters. We can switch the cap contest to a basic font and fix this immediately if you want.

[2015-06-01 21:19] iamisom commented on #204
I believe our plan was to change this to the typical Impact font with the black outline that most memes use. Can we do that now? What would that look like?

[2015-06-01 22:16] rsyvarth commented on #204
Here is a preview. Let me know what you think. I can get this out to production today if you are happy with that change.
![](http://ss.syvarth.com/20150601151449.png)

[2015-06-01 23:28] iamisom commented on #204
That looks great, imo. Approved.

[2015-06-02 00:17] rsyvarth commented on #204
New font has been pushed to production. I also included (what I believe to be) a fix for the bug where no image will load when creating a caption. Let me know if you see the issue happen again, but I don't _think_ it should.

[2015-06-02 16:30] iamisom commented on #204
http://prntscr.com/7caw5p

It looks like two different fonts are being used. Also, all captions should be caps locked by default like the old text.

I'll keep an eye out for reports of the caption loading bug. Thanks for fixing that!

[2015-06-02 16:53] rsyvarth commented on #204
The issue here is that the second user doesn't have Impact installed on their computer and it is falling back on a font that doesn't look very similar to impact at all. Impact isn't a free font so we can't include it in the site without paying a licensing fee. For now I am going to update the fallback list to the following.
[code]
Browsers will move down this list until it finds a font that is pre

[2015-06-02 17:00] rsyvarth commented on #204
Live

[2015-06-02 17:00] #204 closed

[2015-07-07 23:25] #202 closed

[2015-07-11 18:26] iamisom opened #205 "Link button showing the wrong tooltip"
https://www.dungeondefenders.com/2/topic/121154/bug-link-button-showing-the-wrong-tooltip

[2015-07-11 18:26] iamisom opened #206 "YouTube/Forums conflict"
https://www.dungeondefenders.com/2/topic/121156/bug-youtubedd-forums-conflict

User was watching a YouTube playlist with the forums open in another tab. Every time the playlist moved to the next track, the DD Forums moved to another thread (most likely the next).

[2015-07-11 18:27] iamisom opened #207 "Some notifications aren't appearing for users"
https://www.dungeondefenders.com/2/topic/121057/notifications-not-workingagain

"That post by Isom does not appear in my notifications (nor under "more notifications" which also does not include the three posts preceding Isom's in that thread, only the like) and you can see that it should be visible in that list of five, which goes back about 48 hours due to the influence points gained for signing

[2015-07-11 18:44] iamisom opened #208 "Difficulty reading "like" numbers"
http://prntscr.com/7riqfl

As you're scrolling through the forums, it's really difficult to skim the number of likes a post has. I believe it has to do with the bolding/weight of the font type in the box as it contrasts with the big, bright heart next to it. It's too overwhelming for the eye.

http://prntscr.com/7riqtl -- Here's what it looks like without the weight.

I recommend we turn off the f

[2015-07-11 19:07] adamlieb commented on #206
What he is describing sounds completely impossible. Can you reproduce this? He could be using a browser plugin/extension for changing tracks that is somehow navigating other websites. That could be possible. It is impossible for one browser tab to control what is going on in another browser tab without any extra plugin/extension.

You can ask him for a more detailed description or video. I'd defin

[2015-07-11 19:07] #206 closed

[2015-07-11 20:18] rsyvarth commented on #205
This is resolved and on production

[2015-07-11 20:18] #205 closed

[2015-07-11 20:18] rsyvarth commented on #201
This issue should have been resolved with a fix that went out about a month ago

[2015-07-11 20:18] #201 closed

[2015-07-11 20:23] rsyvarth commented on #196
I believe any issues with this have been resolved with the milestone 1 rollout. Please make a new issue if you experience any more trouble.

[2015-07-11 20:23] #196 closed

[2015-07-11 20:29] rsyvarth commented on #155
This issue has been inactive for awhile and it doesn't seem like there is any further action necessary so I am going to go ahead and close the issue. If you still believe that there are changes that need to be made for this issue then please reopen it and reply with any specifics that you feel still need to be addressed.

[2015-07-11 20:29] #155 closed

[2015-07-11 20:31] rsyvarth commented on #187
This issue has been inactive for awhile and it doesn't seem like there is any further action necessary so I am going to go ahead and close the issue. If you still believe that there are changes that need to be made for this issue then please reopen it and reply with any specifics that you feel still need to be addressed.

[2015-07-11 20:31] #187 closed

[2015-07-11 20:33] rsyvarth commented on #180
This issue has been inactive for awhile and it doesn't seem like there is any further action necessary so I am going to go ahead and close the issue. If you still believe that there are changes that need to be made for this issue then please reopen it and reply with any specifics that you feel still need to be addressed.

[2015-07-11 20:33] #180 closed

[2015-07-11 20:33] rsyvarth commented on #182
I believe this has been resolved with the rollout of milestone 1.

[2015-07-11 20:33] #182 closed

[2015-07-11 20:34] rsyvarth commented on #183
This issue has been inactive for awhile and it doesn't seem like there is any further action necessary so I am going to go ahead and close the issue. If you still believe that there are changes that need to be made for this issue then please reopen it and reply with any specifics that you feel still need to be addressed.

[2015-07-11 20:34] #183 closed

[2015-07-11 20:36] rsyvarth commented on #190
This doesn't seem to be an issue anymore with newer blog posts. Closing

[2015-07-11 20:36] #190 closed

[2015-07-11 20:37] rsyvarth commented on #191
I cannot reproduce this issue on production. It is possible that it was resolved as part of the milestone 1 rollout. Please re open this issue if you can reproduce.

[2015-07-11 20:37] #191 closed

[2015-07-11 20:39] rsyvarth commented on #197
This issue has been inactive for awhile and it doesn't seem like there is any further action necessary so I am going to go ahead and close the issue. If you still believe that there are changes that need to be made for this issue then please reopen it and reply with any specifics that you feel still need to be addressed.

[2015-07-11 20:39] #197 closed

[2015-07-11 20:49] rsyvarth commented on #208
This has been implemented and is on the live site.

[2015-07-11 20:49] #208 closed

[2015-07-14 04:25] Draco18s opened #209 ""Remember Me" option doesn't work"
I don't normally wander into the issue tracker, but this issue has been long standing and does not appear to be officially tracked in any way.  Combine that with the site update changes a few days ago, I can no longer sit on the All Notifications page and refresh each day (as it redirects me to a 404 page--rightfully as I am not signed in), but as I can't make the site *remember who I am* this add

[2015-07-14 04:34] Draco18s opened #210 "LocalStorage Data includes Private Email Addresses"
I'm not even a web security expert and I *know* that this shouldn't happen.

Given that I can, in no way through normal use of the site access a user's registered email address I should not be able to extract it from the local storage.  There is literally NO reason my browser should even be AWARE of that information.

Here's the data stored relating to my own account:

"tags":{"id":215,"name":"own

[2015-07-14 16:55] adamlieb commented on #209
Can you do me a couple quick favors to try and help debug this?
-Clear cache
-Close the tab and hit the domain fresh (so you get a fresh load)
-Log out/login
-When logging in use the remember me check

Let me know if/when you get locked out (what action caused it, or if it was timed...24 hours?)

I can confirm this is working properly for lots of folks, so I want to understand why it isn't working

[2015-07-14 17:01] adamlieb commented on #210
Check again. Made SOME changes that cleaned up some but not all of this.

[2015-07-14 17:02] #210 closed

[2015-07-14 17:39] Draco18s commented on #210
Awesome, that one's fixed.

[2015-07-14 17:40] Draco18s commented on #209
Does appear to be working properly today.  Sometime between last night and this morning it went from "definitely not working at all" (a simple page refresh would log me out) to "definitely working, can't seem to break it" this afternoon.

[2015-07-14 17:42] adamlieb commented on #209
Sweet (sort of)! Closing the issue, if it happens again please reopen and describe.

let me know what else you find, your issue reports are always super helpful.

[2015-07-14 17:42] #209 closed

[2015-07-14 17:43] Draco18s commented on #209
Any time :)

[2015-07-14 17:44] adamlieb commented on #209
Can you ping me on Skype?

[2015-07-16 15:41] Draco18s commented on #207
I'll just juke in here with what I found in my notifications this morning.

http://s17.postimg.org/60y1hoctr/notifications.png
http://s4.postimg.org/cu12e06gt/dropdown.png

I was able to find the posts via the user's profile.

http://s17.postimg.org/58vu1upkf/posts.png

[2015-07-16 15:50] olshiftyeye commented on #207
quick tip, using `![](Image Link)` will actually preview the image in the post :)

[2015-07-16 16:43] Draco18s commented on #207
#KnowledgeIsPower
I don't use GitHub much, but I'll try and remember that.

[2015-07-19 16:01] Draco18s commented on #209
Had it go a little weird this morning, but can't replicate.  I was sitting on the All Notifications page, went to News, had it award me 2 influence points (I had 295 yesterday, I now have 297), had to close both (overlapping) popups.  Then I clicked "back" to go back to my notifications page, it didn't.  So I used the multi-jump history dropdown.  I had 2 notifications pages and 2 homepages.  I cl

[2015-07-20 17:11] Draco18s opened #211 "Forum awards 2 Influence Points / Day"
I mentioned this in #209 but it appears to not be a fluke, as I was awarded two more influence today as well so I thought I'd make this its own issue.

Both Influence points are granted simultaneously and both cause a "congrats!" popup that must be closed (one after the other).

![](http://s13.postimg.org/l2nwjrgnr/influence.png)

[2015-07-20 17:50] adamlieb commented on #211
Same issue. I'll close as a duplicate.

[2015-07-20 17:50] #211 closed

[2015-07-20 18:37] #185 closed

[2015-07-20 18:41] adamlieb commented on #150
I'm going to close out these issues that are "feature requests." We have a pretty good process with our SOWs for getting new features added in. I'd like to add feature requests there and leave this GitHub repo for actual bugs.

[2015-07-20 18:41] #150 closed

[2015-07-20 18:41] adamlieb commented on #157
I'm going to close out these issues that are "feature requests." We have a pretty good process with our SOWs for getting new features added in. I'd like to add feature requests there and leave this GitHub repo for actual bugs.

[2015-07-20 18:41] #157 closed

[2015-07-20 18:41] adamlieb commented on #163
I'm going to close out these issues that are "feature requests." We have a pretty good process with our SOWs for getting new features added in. I'd like to add feature requests there and leave this GitHub repo for actual bugs.

[2015-07-20 18:41] #163 closed

[2015-07-20 18:41] adamlieb commented on #167
I'm going to close out these issues that are "feature requests." We have a pretty good process with our SOWs for getting new features added in. I'd like to add feature requests there and leave this GitHub repo for actual bugs.

[2015-07-20 18:41] #167 closed

[2015-07-20 18:41] adamlieb commented on #164
I'm going to close out these issues that are "feature requests." We have a pretty good process with our SOWs for getting new features added in. I'd like to add feature requests there and leave this GitHub repo for actual bugs.

[2015-07-20 18:41] #164 closed

[2015-07-20 18:41] adamlieb commented on #162
I'm going to close out these issues that are "feature requests." We have a pretty good process with our SOWs for getting new features added in. I'd like to add feature requests there and leave this GitHub repo for actual bugs.

[2015-07-20 18:41] #162 closed

[2015-07-20 18:42] adamlieb commented on #168
I'm going to close out these issues that are "feature requests." We have a pretty good process with our SOWs for getting new features added in. I'd like to add feature requests there and leave this GitHub repo for actual bugs.

[2015-07-20 18:42] #168 closed

[2015-07-20 18:42] adamlieb commented on #172
I'm going to close out these issues that are "feature requests." We have a pretty good process with our SOWs for getting new features added in. I'd like to add feature requests there and leave this GitHub repo for actual bugs.

[2015-07-20 18:42] #172 closed

[2015-07-20 18:42] adamlieb commented on #165
I'm going to close out these issues that are "feature requests." We have a pretty good process with our SOWs for getting new features added in. I'd like to add feature requests there and leave this GitHub repo for actual bugs.

[2015-07-20 18:42] #165 closed

[2015-07-20 18:42] adamlieb commented on #177
I'm going to close out these issues that are "feature requests." We have a pretty good process with our SOWs for getting new features added in. I'd like to add feature requests there and leave this GitHub repo for actual bugs.

[2015-07-20 18:42] #177 closed

[2015-07-20 18:43] adamlieb commented on #184
I believe this issue is fixed or cannot be replicated. If you still have this happen please re-open and post any details that will help us reproduce and fix.

[2015-07-20 18:43] #184 closed

[2015-07-20 18:53] #200 closed

[2015-07-20 19:00] #194 closed

[2015-07-20 19:03] #179 closed

[2015-07-20 21:02] adamlieb commented on #209
This was an edge case race condition that I believe is fixed. Can you please reopen and let us know if it happens again. It SHOULDNT.

Great find

[2015-07-27 04:22] Draco18s opened #212 "Image URL Wrapped Paths"
Or whatever the hell the site does.

In any case, this is absurd:

https://images.dungeondefenders.com/https://images.dungeondefenders.com/https://images.dungeondefenders.com/https://images.dungeondefenders.com/https://images.dungeondefenders.com/https://images.dungeondefenders.com/https://images.dungeondefenders.com/https://images.dungeondefenders.com/https://images.dungeondefenders.com/https://i

[2015-07-27 18:26] adamlieb commented on #212
Happens each time you edit your post for some reason. This post was edited 14 times it seems :smile: going down as a non critical bug

[2015-08-03 16:59] CatFerry opened #213 "Launcher Issues"
1) When you first open up the launcher, the carousel often doesn't work and you only see the first image stationary. If you close it out and reopen it, sometimes it'll work. Should work at first launch, though.

2) Manager allows you to add a 5th image, but the launcher only accommodates four:
![image](https://cloud.githubusercontent.com/assets/9061598/9042833/52111532-39df-11e5-8e38-a92c889bb3c9.

[2015-08-05 18:31] CatFerry opened #214 "Launcher - Hover State and Profile Click"
Fix the hover state per the mockups:

![image](https://cloud.githubusercontent.com/assets/9061598/9094234/a0ef570e-3b7e-11e5-9dc4-72909fa9d6d9.png)

Colors/hexcodes are incorrect and it should click to profile.

[2015-08-13 15:13] Draco18s opened #215 "Icons on the All Notification page have wrong margins"
![iron](https://cloud.githubusercontent.com/assets/1750680/9253528/38b1c2a6-41ac-11e5-9e42-da3e3a487865.png)

Margin-right is 10 pixels, the other three are 5 pixels.  This makes the circular border lopsided.

[2015-08-14 16:20] bradpettigrew opened #216 "Dropdown menu arrow thingy messed up on dd1 and dde"
![menu dropdown thingy](https://cloud.githubusercontent.com/assets/9043584/9278454/d4ce3d0e-427e-11e5-8713-7d8a11bfb70d.png)

[2015-08-18 02:57] Draco18s opened #217 "Non-square user icons and the notification dropdown"
In all other places, non-square user icons are squashed to make them square.

In the notifications dropdown, however, they retain their original aspect ratio.
![squashed](https://cloud.githubusercontent.com/assets/1750680/9321367/61ecbef2-4533-11e5-8331-b78aa89ac9e2.png)

[2015-08-18 20:53] bradpettigrew opened #218 "odd floating picture on page 2 of the snapshooter contest blog."
![weird thing](https://cloud.githubusercontent.com/assets/9043584/9342422/8b6b2188-45c9-11e5-8a13-29be731132ef.jpg)

please compare the following 2 pages of comments from the blog post.

https://www.dungeondefenders.com/2/topic/123206/snapshooter-contest?page=1
https://www.dungeondefenders.com/2/topic/123206/snapshooter-contest?page=2

[2015-08-31 21:41] bradpettigrew opened #219 "get's weird when it hits 980ish px in width"
![browser width bug](https://cloud.githubusercontent.com/assets/9043584/9591142/715a7ff8-5007-11e5-9763-77578f6a7845.jpg)

[2015-09-02 20:06] bradpettigrew opened #220 "please chance the upload pic size to reflect the actual needed dimensions"
![untitled-5](https://cloud.githubusercontent.com/assets/9043584/9642849/88699d1a-518c-11e5-833f-678466d551af.jpg)

[2015-09-24 21:16] bradpettigrew opened #221 "slight changes to assets"
![testbg](https://cloud.githubusercontent.com/assets/9043584/10087081/e545eeee-62df-11e5-9fec-46bc71cd3133.jpg)

![9-24 redlines2](https://cloud.githubusercontent.com/assets/9043584/10087246/c84c7d16-62e0-11e5-9bde-1494c32792f9.jpg)

![fixed pets block background](https://cloud.githubusercontent.com/assets/9043584/10087079/e5431980-62df-11e5-8cc0-567b340effd0.jpg)

hey guys a few little changes he

[2015-09-25 22:12] CatFerry opened #222 "PS4 Forums Category"
Add the PS4 category to the forums here
![image](https://cloud.githubusercontent.com/assets/9061598/10113297/c64efb62-63b0-11e5-8263-7dfeba072923.png)
call it "PS4 FEEDBACK" and use the same Apprentice image as the SUGGESTIONS category. For the icon, use the PS4 icon you can download here: https://drive.google.com/file/d/0BytMt-v3T_nBc0Jhbm9jamo5V3c/view?pli=1

[2015-09-26 21:44] rsyvarth commented on #222
Done

[2015-09-26 21:44] #222 closed

[2015-09-28 18:41] rsyvarth commented on #221
This should be live on production.

[2015-09-28 18:41] #221 closed

[2015-10-07 20:29] CatFerry opened #223 "HTML Anchor for SignUp"
On https://dungeondefenders.com/2/about when you click SIGN UP FOR OPEN ALHPA, it brings you to the bottom. Create an HTML anchor to directly send people to this location. Maybe something like https://dungeondefenders.com/2/about/#Signup

[2015-10-14 20:58] rsyvarth commented on #218
This issue should now be resolved globally on the site. (If there are any existing corrupted posts remaining they will still be broken but new posts  won't have this issue)

[2015-10-14 20:58] #218 closed

[2015-10-16 20:51] adamlieb commented on #223
Closing this out as it is not a bug. This is about 8 hours worth of work that requires restructuring the entire page. Trying to keep this repo clean for just bugs so we can make sure they are resolved.

[2015-10-16 20:51] #223 closed

[2015-10-16 23:21] adamlieb commented on #220
Done and on live

[2015-10-16 23:21] #220 closed

[2015-10-16 23:21] adamlieb commented on #215
Done and on live.

[2015-10-16 23:21] #215 closed

[2015-10-16 23:31] Draco18s commented on #215
Awesome.

[2015-10-16 23:42] adamlieb commented on #217
Also fixed!

[2015-10-16 23:42] #217 closed

[2015-10-16 23:44] Draco18s commented on #217
Awesome.
I'll have trouble verifying as there aren't many people with a non-square icon.  But I trust that it is :D

[2015-10-16 23:52] adamlieb commented on #186
So confirmed this is only an issue for admins who have privileges above what others have. When you log out sometimes the things you could see as an admin are cached, then you try to access them and you have no access. This will fix when you login or clear your cache. No "users" will get this experience.

[2015-10-16 23:52] #186 closed

[2015-10-19 17:47] adamlieb commented on #198
This has been resolved.

[2015-10-19 17:47] #198 closed

[2015-10-19 17:47] adamlieb commented on #216
This was updated

[2015-10-19 17:47] #216 closed

[2015-10-19 17:47] adamlieb commented on #219
This should be resolved, let me know if you see it again.

[2015-10-19 17:47] #219 closed

[2015-10-19 17:48] adamlieb commented on #207
Don't think you're still seeing this. If so please respond back!

[2015-10-19 17:48] #207 closed

[2015-10-19 17:49] adamlieb commented on #213
Please let me know if 1) is still happening. I don't think it was ever reproducable.

2) has been resolved by removing them.

[2015-10-19 17:49] #213 closed

[2015-10-19 18:28] Draco18s commented on #207
Its really hard to tell, and I haven't been as vigilant about reading forum threads lately.

[2015-10-19 22:06] adamlieb commented on #207
No worries just let me know if you do.

[2015-10-19 22:07] adamlieb commented on #199
This is resolved.

[2015-10-19 22:07] #199 closed

[2015-10-19 22:08] adamlieb commented on #212
This is fixed. Editing posts no longer prepends the URL again. This won't fix old edited posts with long image paths, but no new ones will suffer this.

[2015-10-19 22:08] #212 closed

[2015-10-19 22:54] Draco18s commented on #212
Awesome!

[2015-10-20 03:15] pmasher opened #224 "Website hidden beneath pop-up on iPhone 6+ iOS 8.3 safari"
All I see when I load any website page is the following image. I cannot click x or get past it in any way.

http://i.imgur.com/zF9IdVs.jpg

[2015-10-20 03:24] adamlieb commented on #224
iPhone 6+, Safari, iOS 8.3

@pmasher have you logged in/out? Cleared your cache? Those would be the next two steps.

[2015-11-03 15:47] iamisom opened #225 "Dev Tracker Duplicate Posts"
When you click "Load More Posts" on the Dev Tracker, it will repeat previously loaded comments. This looks identical to the bug that was affecting the Activity Tracker.

[2015-11-03 15:55] pmasher commented on #224
Yep, completely cleared browsing history and it's still there. I get the about page, and as soon as I continue this is all that is there.

[2015-11-06 19:27] iamisom opened #226 "Logging out of the site during session"
Some players are reporting that they get logged out of the site during a session. This is most commonly reported when players write up a response and then get logged out, causing them to lose their response. Might be related to opening a lot of threads in multiple tabs.

[2015-11-06 20:02] adamlieb commented on #226
Can you provide any repro steps from you or any of the other defenders?

Pretty much impossible to investigate "people getting logged out" without knowing what they did to make that happen, and how to make that happen again.

If people are writing up a long post and leave their computer running, certainly possible that they lose connection with the server, and it drops their session (a timeout).

[2015-11-06 20:11] adamlieb commented on #224
also have you tried using "private mode" in safari, to see if the same thing happens?

[2015-11-06 20:13] pmasher commented on #224
On private I just get:

[image1.PNG]

-Philip

Sent from my iPhone

On Nov 6, 2015, at 3:11 PM, Adam Lieb <notifications@github.com<mailto:notifications@github.com>> wrote:

also have you tried using "private mode" in safari, to see if the same thing happens?

-
Reply to this email directly or view it on GitHub<https://github.com/DuxterInc/trendy-community/issues/224#issuecomment-154519817>.

[2015-11-06 20:14] adamlieb commented on #224
No Image is attached, just the title of the image

[2015-11-12 15:55] iamisom commented on #226
https://dungeondefenders.com/2/topic/128731/are-you-getting-constantly-logged-out-please-help-us-out

I made a thread asking for people's help in discovering the issue.

[2015-11-12 15:55] iamisom commented on #225
Any update on this?

[2015-11-12 16:14] iamisom opened #227 "Remove Influence Point popup"
Can we remove the Influence Point popup that occurs when you visit the site the first time? Players are annoyed that it redirects you to the front page whenever you click a link to the site for the first time.

[2015-11-12 17:13] rsyvarth commented on #227
The popup has been removed on production

[2015-11-12 17:13] #227 closed

[2015-11-12 17:13] rsyvarth commented on #225
This should be fixed and on production.

[2015-11-12 17:13] #225 closed

[2015-11-12 20:55] iamisom commented on #226
Some people have replied. I think the issue is tied to having multiple tabs open on Chrome. That's when it happens to me.

[2015-11-18 15:59] CatFerry opened #228 "Add "Loot Testing Feedback" Forum"
Hey guys, we'd like to add another section to the forums today if possible. We'd like it to go in the top right next to General Discussion where Game Feedback currently is and move everything else down. Use the standard memo image used in Game Feedback and Patch Notes. Is that possible? Similar to when we added the ps4 feedback forum section and call it "LOOT TESTING FEEDBACK"

Use the Monk image

[2015-11-18 16:44] rsyvarth commented on #228
Done and on production

[2015-11-18 16:44] #228 closed

[2015-11-25 18:26] iamisom opened #229 "Images broken on blogs"
https://dungeondefenders.com/2/blog/128679/get-more-bags-with-the-inventory-pack

https://dungeondefenders.com/2/blog/121132/wipeageddon-get-your-survivor-costumes-pet

[2015-11-25 22:49] AnthonyKinson commented on #229
These should be fixed now. The image cache has run out of disk space so I have temporarily feed up some space which should last until the end of the Thanksgiving holiday. After which we can sort out a more permanent solution.

[2015-12-10 17:20] iamisom opened #230 "Close Loot Testing forum, move Loot Testing threads to General Discussion"
We need to close the Loot Testing forum and to move the threads inside of it over to General Discussion.

[2015-12-10 17:21] iamisom opened #231 "Move Defense Council Suggestions threads to Suggestions, Close DC Suggestions"
As the title says. We need to move the Defense Council Suggestions threads over to Suggestions and then close down the Defense Council Suggestions subforum.

[2015-12-10 17:21] #229 closed

[2015-12-10 17:22] iamisom commented on #226
https://dungeondefenders.com/2/topic/128731/are-you-getting-constantly-logged-out-please-help-us-out

Looks like it may be related to Chrome and using multiple tabs.

[2015-12-10 17:32] iamisom opened #232 "New subforum "Streams and Events"; new hierarchy"
We need a new subforum called "Streams and Events."

After the removal of Defense Council Suggestions and Loot Testing Feedback, this will be the new forum hierarchy:

Defense Council General Discussion
General Discussion
PS4 Feedback and Discussion
Streams and Events
Game Feedback
Tech Support & Bug Reports
Suggestions
Defender's Lounge
Website Feedback
Trendy Only
Archive

[2015-12-10 19:09] #230 closed

[2015-12-10 19:11] #231 closed

[2015-12-10 19:23] timh commented on #232
Hi @iamisom. These changes have been made. However, I notice a category named 'Patch Notes' that wasn't in your list. Where should that go?

[2016-01-26 16:30] TrendyEnt-I-PASS-BUTTER commented on #224
This has also been reported by a player using Samsung Note 4 - Android 5.11

[2016-01-26 16:32] adamlieb commented on #224
@TrendyEnt-I-PASS-BUTTER can you please ask this user to post screenshots and a repro process and we can investigate right away?

[2016-01-26 16:33] TrendyEnt-I-PASS-BUTTER opened #233 "Mod Tool Requests - Usable on Mobile"
Moderation Tools are not available to use from mobile.

[2016-01-26 16:33] TrendyEnt-I-PASS-BUTTER opened #234 "Moderation Tool Request"
Read receipt on messages.

[2016-01-26 16:35] TrendyEnt-I-PASS-BUTTER opened #235 "Mod Tool Requests - Post Reporting"
Post reporting. Something that allows players to flag individual posts for review by mods.

[2016-01-26 17:00] TrendyEnt-I-PASS-BUTTER opened #236 "Moderation Tool Request - Player flagging and history"
Moderators need to be able to flag/warn a player, and that history should be visible to other mods.

[2016-01-26 17:01] TrendyEnt-I-PASS-BUTTER opened #237 "Thread/Post preview feature"
Preview feature for posts/threads, a la Steam forums.

[2016-01-26 17:03] TrendyEnt-I-PASS-BUTTER opened #238 "Feature requests - Forum descriptions"
Forum descriptions for each forum section. It will allow us to more accurately parse and move replies and threads.

[2016-01-26 17:06] TrendyEnt-I-PASS-BUTTER opened #239 "Feature Request - Searching single forums"
Would it be possible to add an option to select which section you wished to search?

[2016-01-26 17:10] TrendyEnt-I-PASS-BUTTER opened #240 "Feature Request - Moderator Badge"
Make the badges, specifically the moderator badge, a bit bigger.

[2016-01-26 19:44] pmasher commented on #224
This is the same issue that I have on my phone, that prevents me from ever using the website on my phone. There are a few others in the office that also have this issue (same iPhone and update).

-Philip

From: Adam Lieb [mailto:notifications@github.com]
Sent: Tuesday, January 26, 2016 11:33 AM
To: DuxterInc/trendy-community <trendy-community@noreply.github.com>
Cc: Philip Asher <pmasher@trendyent

[2016-01-27 00:45] adamlieb commented on #224
The issue on our end remains the same. We have no way to reproduce this. We've tried with emulators. I literally have the exact same phone as you do and both of our user accounts are admins. There really aren't any differences between the two of us in setup, except for behavior, which is what we need in order to fix this. If anyone has any repro steps (on any device) that would be extremely helpfu

[2016-01-27 17:43] TrendyEnt-I-PASS-BUTTER opened #241 "Bug Report - Site Analytics are not working"
Site analytics are not showing up, stuck on loading screen.

[2016-01-27 18:44] TrendyEnt-I-PASS-BUTTER commented on #224
From the user..."I logged into the mobile site, and all I saw was the notifications." I'm also getting reports that it is happening on iOS 8.3 using sfari and then chrome.

[2016-01-27 18:45] TrendyEnt-I-PASS-BUTTER commented on #224
There's been some mention that this might be happening if a user hasn't logged in for a while and cleared their notifications. So a repro step might be to give yourselves a backlog of unseen notifications and then try to log into the site from mobile.

[2016-01-28 16:37] j3272945 opened #242 "Private Messages link you to DDE instead of DD2's part of the forums"
When the forums send you a message about receiving a new message its URL sends you to Dungeon Defenders Eternity.

[code]

If this can be updated so it points to

https://dungeondefenders.com/2/messages/148266

Then our community will be still on DD2's part of the forums instead of being forced to DDE's part of the website.

[2016-01-28 17:02] TrendyEnt-I-PASS-BUTTER commented on #241
@adamlieb

[2016-01-28 17:02] TrendyEnt-I-PASS-BUTTER commented on #240
@adamlieb

[2016-01-28 17:02] TrendyEnt-I-PASS-BUTTER commented on #239
@adamlieb

[2016-01-28 17:03] TrendyEnt-I-PASS-BUTTER commented on #238
@adamlieb

[2016-01-28 17:03] TrendyEnt-I-PASS-BUTTER commented on #237
@adamlieb

[2016-01-28 17:03] TrendyEnt-I-PASS-BUTTER commented on #236
@adamlieb

[2016-01-28 17:04] TrendyEnt-I-PASS-BUTTER commented on #235
@adamlieb

[2016-01-28 17:04] TrendyEnt-I-PASS-BUTTER commented on #234
@adamlieb

[2016-01-28 17:04] TrendyEnt-I-PASS-BUTTER commented on #233
@adamlieb

[2016-01-28 19:14] rsyvarth commented on #241
This should be fixed on production

[2016-01-28 19:14] #241 closed

[2016-01-28 19:51] rsyvarth commented on #242
It was previously setup so that it would link to the same site that the message was sent from. I have updated the email to force a link to DD2. This change is on production.

[2016-01-28 19:51] #242 closed

[2016-01-29 01:47] #232 closed

[2016-01-29 01:48] adamlieb commented on #240
No need to tag me in any of these. They all get seen. All of your feature requests have been duly noted, labeled, and categorized.

[2016-01-29 16:45] rsyvarth commented on #224
I believe this is fixed now. We couldn't reproduce on a physical device so would appreciate it if you could confirm and close this issue if it is resolved.

[2016-01-29 17:01] pmasher commented on #224
This is resolved now! This is the first time this has worked on my phone in months!

-Philip

From: Robert Syvarth [mailto:notifications@github.com]
Sent: Friday, January 29, 2016 11:45 AM
To: DuxterInc/trendy-community <trendy-community@noreply.github.com>
Cc: Philip Asher <pmasher@trendyent.com>
Subject: Re: [trendy-community] Website hidden beneath pop-up on iPhone 6+ iOS 8.3 safari (#224)

I b

[2016-01-29 17:01] TrendyEnt-I-PASS-BUTTER commented on #240
Excellent. Would love to get notified on exactly what's being worked on and time to completion. Thanks in advance!

[2016-01-29 17:02] adamlieb commented on #240
all bugs are fixed, just waiting on confirms

[2016-01-29 17:03] adamlieb commented on #240
All bugs are fixed. We are waiting on confirmations.

[2016-01-29 17:05] #224 closed

[2016-02-04 18:59] iamisom opened #243 "Permanent Bans should not remove a player's post history"
Can we get rid of that functionality please? The desired result is that:

1)  A mod "bans" a user.
2)  That user does not have access to the site anymore, but the user's posts are still there.

[2016-02-04 19:04] iamisom opened #244 "Remove Influence Point notification"
Our players don't want to receive the notification that they received an Influence Point. Can we please remove that?

(The better solution would be to give them the option to toggle this in their settings, but I'm willing to settle for an outright removal.)

[2016-02-04 21:37] iamisom opened #245 "Threads/New Posts from Game Feedback are not appearing in Activity Feed"
As the title says. Any new threads or new posts from the Game Feedback subforum do not appear in the Activity Feed. (Can we also check to see if Suggestions, PS4 Feedback, Streams and Events, Tech Support, Patch Notes and Defenders Lounge are showing up, too?)

[2016-02-04 21:41] adamlieb commented on #245
Investigating.

[2016-02-04 21:42] adamlieb commented on #243
Will investigate. The main problem is it orphans content without a creator, which can break things.

[2016-02-04 21:42] adamlieb commented on #244
Yes we can remove these.

[2016-02-06 03:58] rsyvarth commented on #244
These have been removed on production

[2016-02-06 03:58] #244 closed

[2016-02-06 18:38] iamisom opened #246 "Reverse ban/deletion of flashertjeuh"
User "flashertjeuh" was accidentally banned, which deleted all of his posts and removed him from the forums. Can we reverse this? (PS:  This is why we want the ban post deletion removed.)

[2016-02-06 18:38] iamisom commented on #243
I don't believe banning a player should delete them from the forums. It should just disable their posting privileges.

[2016-02-06 18:54] iamisom commented on #238
The BattleTech forums have the format we were asking for. Is it possible to transfer that functionality to our site?

[2016-02-06 20:28] AnthonyKinson commented on #243
I'm currently doing a quick patch that will suspend users indefinitely when you "ban" them. This will keep their accounts live, and their content present in the community, but will prevent them from logging into the site.

I will close out this issue once it has gone live.

[2016-02-06 20:30] AnthonyKinson commented on #246
I'm reversing this for you now. I will update once I am complete.

[2016-02-06 20:52] AnthonyKinson commented on #246
i believe this user is now fully restored. including notifications / settings / likes / tracks and forum activity. https://dungeondefenders.com/2/user/145559

If we have missed anything please let us know.

[2016-02-06 20:52] #246 closed

[2016-02-06 21:25] AnthonyKinson commented on #243
This is now live. let us know if you have any questions or problems.

[2016-02-06 21:25] #243 closed

[2016-02-09 18:02] iamisom opened #247 "Remove "Trendy Only" subforum"
Can we remove that subforum and move the threads over to the Archive, please?

[2016-02-09 18:07] iamisom opened #248 "New Forum Hierarchy"
Community wants more visibility on Game Feedback.

- Defense Council General Discussion
- General Discussion
- PS4 Feedback and Discussion
- Game Feedback
- Streams and Events
- Tech Support & Bug Reports
- Suggestions
- Defender's Lounge
- Patch Notes
- Website Feedback
- Archive

[2016-02-10 16:13] AnthonyKinson commented on #247
This is done. the "Trendy Only" category has been deleted, and all threads were moved to the Archive.

[2016-02-10 16:13] #247 closed

[2016-02-10 16:16] AnthonyKinson commented on #248
This has been updated for you.

![](http://ant.zone/100216161629.png)

[2016-02-10 16:16] #248 closed

[2016-02-10 16:48] iamisom commented on #248
Thank you!

[2016-02-10 16:49] iamisom opened #249 "Update "Streams and Events" background image"
Can we use the Squire background image from the General Discussion there? The current one looks very weird.

[2016-02-11 18:35] CatFerry opened #250 "Influence Page Wrong Background"
Please fix the Influence Page web site: https://dungeondefenders.com/2/initiatives so that it matches the mockup. Use this background: https://drive.google.com/file/d/0B_0aOpXgKhGHY1pTVTFibjVxTHc/view?usp=sharing instead of the default.

[2016-02-11 19:22] rsyvarth commented on #250
This change has been made and pushed to production.

[2016-02-11 19:22] #250 closed

[2016-02-11 23:17] iamisom opened #251 "Notification window blocking mobile users from accessing website"
https://www.reddit.com/r/dungeondefenders/comments/45a9d2/forums_mobile_problems/

[2016-02-15 22:33] iamisom opened #252 "Can't edit a post in a locked thread"
Can we fix that, please? I often like to post and then lock a derailed thread, and this bug requires me to unlock the thread (always dangerous), delete my entire post (makes me look like I am hiding something) and repost it (bumps the thread back up to the top of the list).

[2016-02-16 22:34] iamisom commented on #251
This one is pretty high priority. Any status update on this?

[2016-02-16 23:10] iamisom opened #253 "Rename "Streams and Events" to "Looking For Group""
Can we do this, please?

[2016-02-17 02:38] rsyvarth commented on #253
This is done on production

[2016-02-17 02:38] #253 closed

[2016-02-17 02:42] iamisom opened #254 "Reduce Suspensions to 1 week instead of 2"

[2016-02-17 02:49] rsyvarth commented on #251
I believe this is the same issue that was affecting the DD2 site on iOS. I have applied the same fix to DDE and DD1 and pushed to production. I am closing this issue now but if the issue persists please reopen.

[2016-02-17 02:49] #251 closed

[2016-02-18 02:36] AnthonyKinson commented on #254
This has been updated for you.

[2016-02-18 02:36] #254 closed

[2016-02-18 22:11] rsyvarth commented on #252
This should be resolved and on production.

[2016-02-18 22:11] #252 closed

[2016-02-18 22:14] iamisom commented on #249
To update this:  This is needed for the Looking For Group subforum now.

[2016-02-18 22:46] rsyvarth commented on #249
This is updated and on production.

[2016-02-18 22:46] #249 closed

[2016-02-19 18:35] iamisom opened #255 "Thread title character count changed to 80 characters"
People are making thread titles that take up 3-4 lines. We'd like the character count changed to 80 characters to keep thread titles at 2 lines max.

[2016-02-19 19:20] adamlieb commented on #255
Yes. We can get this changed next week.

[2016-02-19 19:26] iamisom commented on #255
Thanks, Adam. :D

[2016-02-19 20:21] RaNgErZ-BERT opened #256 ""Marked as Troll" user's posts showing up in Activity Feed/Last posts."
When a user is "marked as troll", their posts history should not show up in the activity feed. Also, their posts should not be shown in the "last post" part of the sections.

[2016-02-19 20:24] RaNgErZ-BERT opened #257 "Background picture shutters"
While viewing the forums Internet Explorer 11, the background picture "shutters" while scrolling up and down.

[2016-02-20 15:36] RaNgErZ-BERT opened #258 "Opening a different page of a thread in a new tab sends me to the news page"
[Here ](https://dungeondefenders.com/2/topic/131524/opening-a-different-page-of-a-thread-in-a-new-tab-sends-me-to-the-news-page)is a link to some other users having this issue. Im using Chrome and it happens to me too.

[2016-02-21 02:00] Draco18s commented on #258
Pagination of threads is actually an AJAX call, not a url.  Which is why the back button doesn't work properly *either.*

[2016-03-02 19:02] iamisom commented on #255
How's that coming along? Still getting some crazy long thread titles.

[2016-03-03 00:05] adamlieb commented on #255
Will be live by EOW

[2016-03-03 00:44] iamisom commented on #255
Thanks!

[2016-03-05 00:54] rsyvarth commented on #255
This limit has been implemented and deployed

[2016-03-05 00:54] #255 closed

[2016-03-06 00:55] RaNgErZ-BERT opened #259 "DD1 Activity Feed Not Working Like DD2 Activity Feed"
The activity feed in the DD1 forums sections does not work like the DD2 forums. If you try to load more posts on the DD1 section, it only shows 5 new posts and does not create a list of posts to scroll through.

[2016-03-16 17:43] iamisom opened #260 "Change the search function to only search that game's content"
Is it possible to change the search function to only search through that game site's content? I'm trying to find some DD2 threads about framerate issues, and I keep getting DD1 threads. This makes it really difficult for me to create reports and get issues fixed.

[2016-03-22 21:57] adamlieb commented on #260
Not sure. Anthony is going to look into this to see if it is possible. I know we originally set it all up globally because of the userbase. The other complication is we have some sub-forums that span multiple games. It just might not be feasible to make a query that observes all of those peculiar things, but he is investigating.

[2016-03-28 15:36] iamisom commented on #260
I would be okay if the cross-site subforums also appeared in the search since those are generally off-topic forum games that wouldn't affect the quality of most searches.

[2016-03-28 15:39] iamisom opened #261 "Clicking an external link to the site redirects to the news page"
Only happens on the first time that day that you visit the site.

Repro:

1)  Make sure you didn't visit the site that day yet.
2)  Click on a link that redirects you to a forum page. (https://dungeondefenders.com/2/topic/132123/the-bug-on-wed-and-what-it-taught-me)
3)  Notice how the site redirects you to the news page.

I noticed that it doesn't have me logged in at first when I click the link,

[2016-03-30 19:18] iamisom opened #262 "Change influence vote title on Front Page/Launcher"
http://prntscr.com/am57bb

We need the Influence Vote title to say "New Hero: Round One"

[2016-03-30 19:19] iamisom opened #263 "Remove Influence Point refunding (for now)"
We need to remove Influence Point refunds if you lose. We need to pull the points out of the economy for the tournament vote we're doing.

[2016-03-30 20:00] adamlieb commented on #263
Rob will investigate. Should be doable.

[2016-03-30 20:00] adamlieb commented on #262
Instead of "active initiative?"

[2016-03-30 20:12] iamisom commented on #262
Yes, please.

[2016-03-30 21:09] iamisom opened #264 "Issue with Influence Point text on launcher"
Paragraph tags are showing up in the Influence text:

http://i.imgur.com/aIWI60f.png

[2016-03-31 03:30] rsyvarth commented on #262
Changed on the production website - updating launcher now

[2016-03-31 03:35] iamisom commented on #262
Hey. Hey you. Thank you. :dancer: <---- Apparently github has its own emotes?

[2016-03-31 03:51] rsyvarth commented on #263
We will now take everyone's points! (this has been deployed)

[2016-03-31 03:51] #263 closed

[2016-03-31 04:27] rsyvarth commented on #262
Launcher update has been deployed. Should be good to go!

Closing, feel free to reopen if I borked something.

[2016-03-31 04:27] #262 closed

[2016-03-31 04:47] rsyvarth commented on #264
This bug has been squashed

![](http://askflorine.com/wp-content/uploads/2013/10/temp_quash.jpg)

[2016-03-31 04:47] #264 closed

[2016-04-01 20:51] iamisom opened #265 "Redirect launcher "learn more" button to actual initiative"
link directly to the actual iniatitive:
https://dungeondefenders.com/2/initiatives/40

instead of the splash page:
https://dungeondefenders.com/2/initiatives

[2016-04-02 06:23] iamisom opened #266 "Spammer again"
Here's a screenshot:

http://prntscr.com/an3iug

[2016-04-02 06:25] iamisom commented on #266
IMO, for a spammer control to work on this level, you need to differentiate between "new threads" and "new posts," and limit new threads to every 5-10 minutes. Nobody legit will make that many new threads in that timeframe.

[2016-04-02 06:27] iamisom commented on #266
Also, deleting these one by one is pissing me off. :(

[2016-04-02 15:56] rsyvarth commented on #265
The launcher already takes you to the initiative. I will update the home page of the website to do the same now.

[2016-04-02 16:15] rsyvarth commented on #265
This change has been deployed.

[2016-04-02 16:15] #265 closed

[2016-04-04 19:36] iamisom opened #267 "Remove hashtag tagging"
Can we remove hashtag tagging? There's a bug where sometimes the hashtag will appear like this [[user, #34234234]]. And since we don't actually use searching by hashtags, it would just be easier to let people make hashtags without that happening. (Usually a refresh fixes the issue, but it looks really buggy and doesn't actually have any functionality.)

[2016-04-04 20:50] iamisom commented on #267
http://prntscr.com/ao6eo6

Here we go. So it does happen from time to time.

[2016-04-04 21:43] iamisom opened #268 "Add Abyss Lord emoticon"
If we could have this tonight, that would be fantastic![b2a981a806952ea47e0e0ef68f6beaa2a1b14f3c4608f7115e pimgpsh_fullsize_distr](https://cloud.githubusercontent.com/assets/9043673/14264198/bc7b39ac-fa8c-11e5-9c56-9e4a83ecdd02.png)

[2016-04-04 22:01] iamisom opened #269 "URGENT: About page is currently broken"
https://dungeondefenders.com/2/about

We're about to get a ton of traffic tomorrow. We need this to be fixed ASAP, please.

[2016-04-04 22:17] adamlieb commented on #269
Fixing right now. Tests going through.

[2016-04-04 22:56] rsyvarth commented on #268
This is done and on production!

[2016-04-04 22:56] #268 closed

[2016-04-04 22:56] #269 closed

[2016-04-04 23:21] iamisom opened #270 "Relinking a member's Steam account"
https://dungeondefenders.com/2/user/78500

Her new Steam account should be this:  http://steamcommunity.com/id/KittenKaboomi/

It's currently this:  http://steamcommunity.com/id/Zoltariel/

[2016-04-04 23:33] adamlieb commented on #270
@AnthonyKinson when you start work tomorrow if you wouldn't mind doing this. Thanks!

[2016-04-04 23:53] AnthonyKinson commented on #270
Tomorrow seems so far away.

This is now done.

[2016-04-04 23:55] #270 closed

[2016-04-05 04:47] iamisom commented on #266
He strikes again. :(

http://prntscr.com/aoalfv

[2016-04-05 16:01] iamisom commented on #261
Any info on this?

[2016-04-27 21:40] iamisom opened #271 "DD1 Mobile Navigation Broken"
From a player:

"My phone still can't log in or use the drop down navigation when I have the DD1 site loaded. If I change to the DD2 site it works just fine. It shows the drop down on both but nothing ever happens when you tap it on DD1.

I have tried safari and chrome. Neither work for me."

[2016-05-04 21:33] iamisom commented on #263
Is this for every vote, or just the one we put out in March? Phil and I spoke, and we'd like this to be the norm for the system. Just want to make sure the current vote that ends on Friday won't refund points and that any future votes won't refund points.

[2016-05-04 21:33] rsyvarth commented on #263
All votes act this way from now on

[2016-05-05 16:14] iamisom commented on #266
Ban & Delete is working well enough that I can close this. Thanks for the help, everybody. We really, really appreciate it.

[2016-05-05 16:14] #266 closed

[2016-05-05 16:14] iamisom commented on #263
Fantastic. Thanks!

[2016-05-12 14:00] iamisom opened #272 "On iPhone, ability to move threads not available"
One of our mods is running into this issue. He sees the option but he's unable to get to the dropdown menu to select which subsection he wants to move the thread to.

[2016-05-12 17:32] #261 closed

[2016-05-18 14:46] iamisom opened #273 "Two users need their Steam profiles unlinked"
https://dungeondefenders.com/2/user/14423
https://dungeondefenders.com/2/user/141203

Thanks!

[2016-05-18 14:49] AnthonyKinson commented on #273
Done :+1:

[2016-05-18 14:49] #273 closed

[2016-06-03 16:28] iamisom opened #274 "Urgent: Remove redirect to About page"
We're getting a lot of traffic to our About page, and we're seeing a 90% bounce rate on this page.

Data:  http://i.imgur.com/mLMd3RY.png

Can we remove the automatic site redirect to the About page as soon as possible, please?

[2016-06-03 16:29] iamisom opened #275 "Lock the "continue" bar on the About page"
We think one of the reasons for the high About Page bounce rate is that people assume this page IS our website. Can you make the "Click to the continue" bar fixed on screen so that as people scroll, they'll continue to see it, please?

[2016-06-03 16:30] iamisom commented on #267
Is this not something we can do easily?

[2016-06-03 16:53] rsyvarth commented on #267
New content no longer supports the tagging functionality. Old content will still contain tags though.

This has been deployed and is on production.

[2016-06-03 16:53] #267 closed

[2016-06-03 16:55] rsyvarth commented on #274
Redirect has been removed and deployed to production.

[2016-06-03 16:55] #274 closed

[2016-06-03 17:07] #245 closed

[2016-06-08 22:45] Draco18s opened #276 "Cannot remove linked image from post when editing"
If you insert an image into your post, you cannot remove it.  Attempting to do so just deletes a character elsewhere in the post.

[2016-06-10 19:57] iamisom opened #277 "Old Influence votes disappearing on the site sidebar"
https://dungeondefenders.com/2/initiatives

On the sidebar, the "New Hero: Round One" and "New Hero: Round Two" from April are missing.

https://dungeondefenders.com/2/initiatives/41
https://dungeondefenders.com/2/initiatives/40

Any reason why this might be?

(There's a more recent "New Hero" vote from May that's there. I'm referring to the first one we did in April.)

[2016-06-17 19:17] iamisom opened #278 "Person is unable to get Influence Points"
https://dungeondefenders.com/2/topic/134678/error-on-loading-start-screen?page=1

Please help. This guy is going crazy on our forums (for good reason).

[2016-06-17 23:19] #278 closed

[2016-06-17 23:20] adamlieb commented on #278
Please let us know if something like this happens again. Also if there were any earlier reports, we never saw them, so please let us know where those are so we can make sure we catch this stuff sooner. Looks like this problem is ~1 month old but we only got this issue today.

[2016-06-18 22:43] iamisom opened #279 "MetaTag strange bug"
Whenever we link a forum thread or a blog on Skype, Slack or a place that attempts to pull the metadata to present a title/description, we always see this:

http://prntscr.com/bi381r

Is there a way to fix this?

[2016-06-19 17:01] adamlieb commented on #279
Not "any place" that attempts to pull metadata. It works perfectly on Facebook. The way those chat things handle it is just differently.

[2016-06-19 17:01] #279 closed

[2016-07-18 22:52] iamisom opened #280 "Need to reattach player's Steam profile link"
**Deleted at request of player.**

[2016-07-18 23:00] #280 closed

[2016-09-09 13:21] iamisom opened #281 "New Badge for CDT Usergroup"
![cdt_icon](https://cloud.githubusercontent.com/assets/9043673/18388189/b0582a0a-766e-11e6-9058-57212847838d.png)

The CDT would like to use this as their forum badge. Can we get that implemented, please?

[2016-09-09 21:15] rsyvarth commented on #281
This change is going out now. It should be live within 10 minutes.

[2016-09-09 21:15] #281 closed

[2016-10-20 19:55] iamisom opened #282 "New Forum Organization (Don't Do Until Friday)"
We need to consolidate a few forums and change the name of two others:

1)  We need Game Feedback & Looking for Group merged into General Discussion.

2)  We need "Tech Support & Bug Reports" changed to "Tech Support."

There are a few more changes, but we can do those next week.

Thanks!

[2016-10-20 19:59] rsyvarth commented on #282
Will do - tomorrow!

[2016-10-20 21:23] iamisom opened #283 "Remove the DD1/DDE forum buttons on the DD2 forum homepage"
http://prntscr.com/cwv2ss

Can we get these two buttons removed, please?

[2016-10-21 16:36] rsyvarth commented on #282
Done

[2016-10-21 21:00] iamisom commented on #282
Oops. It looks like I forgot to mention Website Feedback. Can you merge that into General Discussion, too, please? Thanks!!!

[2016-10-22 00:07] rsyvarth commented on #282
Done!

[2016-10-22 00:08] #282 closed

[2016-10-24 23:32] iamisom opened #284 "Rename "Defender's Lounge" to "Defender's Lounge (Off-Topic)""
Get quite a few confused people. We'd like to make it clearer that this is the off-topic section.

Thanks!

[2016-10-26 19:31] iamisom commented on #284
Por favor.

[2016-10-26 20:14] rsyvarth commented on #284
This is done

[2016-10-26 20:14] #284 closed

[2016-10-26 20:39] iamisom opened #285 "Remove Caption Contest from the site"
Can we get the caption contest removed from the site, please?

[2016-11-10 17:05] iamisom commented on #285
Is this possible?

[2016-11-10 17:43] rsyvarth commented on #285
Yes, sorry about that, it should be gone now.

[2016-11-10 17:43] #285 closed

[2017-06-06 01:48] iamisom opened #286 "New emoji"
Can we add this emoji to our forums please?

http://www.dreamanime.de/dd2/gobuhuntress3.png

[2017-06-12 15:49] rsyvarth commented on #286
Done!

[2017-06-12 15:49] #286 closed